[2015-01-13 00:32] danielballan opened #3 "Update examples"
@ericdill @tacaswell The examples don't seem to work on the current code. For sphinx, they have to either be working or be removed. Can you take a look?

[2015-01-13 00:34] danielballan commented on #3
I fixed one Exception myself, but this one seems like a job for whoever wrote the example:

    Exception occurred:
      File "/Users/danielallan/Documents/Repos/databroker/examples/find_multiple_scans.py", line 66, in <module>
        plt.scatter(data_obj.energy, data_obj.sclr_ch5)
    AttributeError: 'Event' object has no attribute 'energy'

[2015-01-13 13:42] ericdill commented on #3
1. Which mongo db are you connected to?
2. If it is not the one at csx, how did you get data into it?

[2015-01-13 13:45] ericdill commented on #3
After actually looking at the example, this one will only work if you're connected to the metadatastore on csx as it is trying to load actual experimental data.  Get rid of the example for now and I'll work on one that uses synthetic data

[2015-01-13 13:46] danielballan commented on #3
Great. Thanks.

[2015-01-13 13:46] #3 closed

[2015-01-13 19:53] danielballan opened #5 "Add ChannelArchiver attributes in a way that supports tab completion"
This is a proof of concept for the simplest way to implement tab-completing attributes that are not actually loaded unless they are called. Here's the justification for this complexity:

1. Plain old attributes don't give any to load the data on call, so you need...
2. Properties, but you don't know the names of all the properties until import time so we use...
3. Descriptors. Specially, `LazyAttr

[2015-01-22 20:00] danielballan opened #7 "Improve minimal databroker."
With `simple_broker` merged, here is a TODO for finishing an in-memory "full stack," which we can use for developing muggler and replay while the real MDS and FS are being finished and stood up.

- [x] Flesh out MDS so that synthetic data can be side-loaded into it.
- [x] Incorporate channelarchiver data into `simple_broker.py`, and format it like events are formatted.
- [x] Improve dummy CA so th

[2015-01-23 21:37] ericdill opened #10 "Finish the docstring"
https://github.com/NSLS-II/databroker/blob/master/databroker/muggler/data.py#L662

[2015-01-24 03:39] ericdill opened #11 "Error 1 in example notebook, but only on the first pass"
When I try to run http://nbviewer.ipython.org/gist/danielballan/ec934485d42f0b524fea, I get the following error when I run cell [31]
[code]
I'm working on master branches of
- databroker
- fileStore
- channelarchiver

Oddly, this error only appears the first time I run through the notebook after restarting the kernel.  If I run it again from the top without restarting the kernel, this error does n

[2015-01-24 03:44] ericdill opened #12 "Error 2 in example notebook"
In[35] provides the following stacktrace

[code]

[2015-01-24 03:44] ericdill commented on #12
for this notebook: http://nbviewer.ipython.org/gist/danielballan/ec934485d42f0b524fea

[2015-01-26 01:10] tacaswell commented on #11
This should be fixed now, the branch that had this code is now merged (https://github.com/NSLS-II/fileStore/pull/6)

[2015-01-26 16:40] tacaswell commented on #11
Change
[code]

to

[code]

[2015-01-26 18:51] danielballan commented on #11
Revised example: http://nbviewer.ipython.org/gist/danielballan/a74b11aa662cd9f035bb

@ericdill please close this issue if you can run it successfully.

[2015-01-26 19:23] ericdill commented on #11
This problem no longer occurs, however #12 is still present... what am i doing wrong?

[2015-01-26 19:23] #11 closed

[2015-01-26 19:37] danielballan commented on #12
In the original example, I put fake data into the dummy CA by passing it as the host string:

    fake_host_url = str({'channel1': ...})
    broker.search(..., ca_host=fake_host_url)

which was too cute. The new example, linked in #11, uses a totally different approach and a different call to `search`. There is no `fake_host_url`, so I am sure you can't get the above stacktrace from that new examp

[2015-01-26 19:41] ericdill commented on #12
Great, thanks. I didnt realize you had changed other bits of that notebook. Working fine now.

[2015-01-26 19:41] #12 closed

[2015-01-27 19:07] danielballan opened #13 "Add a test exercising run headers in fake MDS"
Create a test function that inserts events, event descriptors, and run headers. An example doing the first two is already in the notebook, but run headers haven't been addressed at all.

Bonus points if this also works in live MDS, but if that's any trouble let's wait until this latest revision is written and merged.

[2015-01-27 22:53] danielballan opened #16 "Update simple_broker"
`search` should be called `get_events` and it should take `headers` *or* `start_time`, `end_time` as arguments.

A new function `search_runs` should pass through to MDS `find_header`.

[2015-01-27 22:53] ericdill commented on #16
Perhaps call the function `search_runs` to simply `explore`

[2015-01-27 22:53] danielballan commented on #16
`get_events(*args)` accepts one or more headers

[2015-01-27 23:02] danielballan commented on #16
`explore` and/or `search_runs` returns a list of pairs:

    [(begin, end), (begin, end)]

[2015-01-27 23:10] danielballan commented on #16
One more function:

    find_event_stream(...)

which returns a generator.

[2015-01-30 19:15] tacaswell opened #27 "replay refactor"
Instead of having the `DataMuggler` emit a signal which is connected up to the `models` (as currently implemented), have a (set?) of timers on replay which trigger polling of MDS/databroker.  If there is new data, grab it,  add it to the  muggler and then re-generate the plots.

This has the benefits of simplifying the logic of replay  and means we do not need a Qt aware version of `DataMuggler`.

[2015-02-02 17:15] danielballan opened #28 "DataMuggler Master Issue"
## Short-Term

### Enhancements & Fixes

- [ ] Make downsampling work on nonscalar data.
- [x] Add `dm.plan.bin_*` functions, and revert to all values columns named `val`.
- [ ] Accept strings (`'mean'`) and functions (`lambda x: np.mean(x, 0)`) as upsampling and downsampling rules.
- [x] Allow replay to modify hard defaults of down- and upsampling for a given muggler instance.
- [x] Do interpolat

[2015-02-05 16:34] danielballan opened #31 "Configure Travis to install py2-only deps for replay on py2 build."
This must be done before any replay tests can be added.  cc @ericdill

[2015-02-08 17:37] ericdill opened #32 "Mpl/Pandas plotting bug!"
Error message is this: for commit https://github.com/ericdill/DataBroker/commit/0b5b74fd8cb023a459c834368373e47fd1cb4838
[code]

[2015-02-08 17:39] ericdill commented on #32
@tacaswell @danielballan any ideas?  PS simple scalar plotting now works in replay :)

[2015-02-08 21:16] tacaswell commented on #32
tight layout can be finicky as thing have to be drawn at least once before their sizes are known (for example text) but this looks like it is failing to build the inverse transform for the figure units -> screen units transformation.  I suspect that there is a race-condition going on between the tight_layout black magic and the enaml black magic.

[2015-02-09 00:18] danielballan commented on #32
Nice to hear that scalar plotting works. I avoid using pandas plotting methods in a package. (And, yes, Tom avoids them altogether.) They are convenient for quick inspection, but the defaults imposed by pandas add a new hidden layer of complexity. What happens if you build the subplots explicitly? And, following @tacaswell's line of thought, what happens with and without tight_layout? (Relevant do

[2015-02-09 13:37] ericdill commented on #32
Thanks for the responses guys.  @danielballan I'm not entirely sure how to use tight_layout with the plot() function on the dataframe object.  Also, just so it's clear, this mechanism of plotting was not going to be the major use-case of Replay, just perhaps a very nice convience function to display the data in all columns.

[2015-02-09 13:55] ericdill commented on #32
Interesting... I can get it to draw with subplots by using figure.set_tight_layout(False).  It continues to throw the same error though if I call figure.tight_layout() after the dataframe.plot() function gets called.

[code]

[2015-02-09 14:42] tacaswell commented on #32
sigh, something else fishy is going on here.

To make sure I understand correctly:

   - pandas works fine without tight_layout
   - using `df.plot` makes tight_layout stop working

Try always setting `subplots` to `False` to try and convince pandas to not screw with the existing axes?

I suspect what you really want from pandas is to steal their ticker logic, which is on my list of things to do a

[2015-02-09 23:32] danielballan opened #33 "Beamline-configurable upsample and downsample methods"
Scientist writes:

    PV: 'blah'
      upsample: 'linear'
      downsample: 'sum'

[2015-02-10 20:07] danielballan opened #34 "Wednesday Deployment Master Issue"
- [x] MDS implementing agreed-upon names
- [x] MDS implementing required fields
- [x] MDS returning data as `(value, time)` not `{'value': ..., 'timestamp': ...}`
- [x] ophyd integration with new MDS
- [ ] critical broker functionality:
  - [ ] get events, including CA events, by time
  - [ ] get events, including CA events, associated with given header(s)
  - [ ] get headers by important properti

[2015-02-14 00:01] ericdill opened #39 "ToggleButtons on the Scalar plot controls are not updating when data sets are switched"
Reported by @tacaswell

[2015-02-15 16:49] #39 closed

[2015-02-15 18:10] ericdill opened #44 "No begin run events Error"
If metadatastore has no begin run events, this is the error that appears
[code]

[2015-02-15 18:17] ericdill opened #45 "Replay: Get peak stats estimation running"

[2015-02-15 18:17] tacaswell commented on #31
done in #43

[2015-02-15 18:17] #31 closed

[2015-02-15 18:26] ericdill opened #46 "Push off databroker queries onto a Thread in replay"
Push off databroker queries onto a Thread

[2015-02-15 18:31] ericdill opened #47 "Autotune replay data updating"
Have a user selectable minimum update speed and a maximum update speed so that replay automatically changes its update rates

[2015-02-15 18:33] ericdill opened #48 "Fitting in replay"
Need to figure out how to easily do fitting in replay

[2015-02-15 18:35] ericdill opened #49 "Dataset normalization"
Normalize selected data sets against a `normalization` column

[2015-02-15 18:36] ericdill opened #50 "Push off datamuxer operations onto a Thread in replay"

[2015-02-16 16:34] #44 closed

[2015-02-17 06:17] tacaswell opened #55 "fix replay install"
Something is wrong with the install scripts as if you install from the conda-package the replay cli program does not work.

cc @ericdill

It is after 1am and I am too tired to sort this out now

[2015-02-17 21:02] #55 closed

[2015-02-17 21:03] danielballan commented on #7
Superceded by #57

[2015-02-17 21:03] #7 closed

[2015-02-17 21:03] danielballan commented on #16
Superceded by #57

[2015-02-17 21:03] #16 closed

[2015-02-18 18:53] ericdill opened #66 "Raster Scan widget"
Design and implement a widget that can take a raster scan (moving two motors to create a grid) and display it as a 3-D plot (x=mtr1, y=mtr2, z=det1), an image, etc...

 - It would be best if the widget could guess which motors are supposed to be x and y and perhaps ophyd can provide the two motors by writing attributes into the start_run_event `plotx`, `ploty`, `plotz`.
 - The z value should be se

[2015-02-19 15:49] danielballan opened #73 "Why is pims [py2k only] in the conda recipe?"
@tacaswell

[2015-02-19 16:21] tacaswell commented on #73
Because it I don't think it is used any where out side of replay if at all

On Thu, Feb 19, 2015, 10:49 Dan Allan <notifications@github.com> wrote:

[2015-02-19 16:27] danielballan commented on #73
Gotcha.

[2015-02-19 16:27] #73 closed

[2015-02-19 21:57] #34 closed

[2015-02-19 21:57] danielballan opened #76 "Exercise Broker's connection to the Channel Archiver on CSX"
AFAIK, this has never been actually tested.

[2015-02-19 21:58] #13 closed

[2015-02-19 21:58] #10 closed

[2015-02-24 16:18] ericdill opened #81 "Data Normalization"
Normalize one data set by another in replay

[2015-02-25 19:18] ericdill opened #84 ""Live" viewing"
@jhill14 has beat me in to submission on the matter of "replay needs to be launched with ophyd and be configured to show live data without any user intervention"

[2015-02-25 19:39] #84 closed

[2015-02-27 16:22] ericdill opened #86 "Support slicing by scan_id"
Does it make any sense to also support slicing by scan_id?  e.g. `db[6210:6220]`

[2015-02-27 16:22] ericdill commented on #86
@tacaswell replied:
I think that will turn into a can of worms as the scan_id is not guaranteed to be unique or continuous

[2015-02-27 16:22] ericdill commented on #86
@arkilic replied:
I think @ericdill  is right. Any scientist we have ever spoken, including @stuwilkins,  suggested we provide them with this feature.We might not ensure a uniqueness on scan_id but scan_id has to be unique_with some other feature e.g. owner

[2015-02-27 16:22] ericdill commented on #86
I replied:
@tacaswell : @danielballan and I discussed a nice way to provide uniqueness for the DataBroker slicing syntax.  One way to do this is to have some sort of state management in the DataBroker so that you can do stuff like:
[code]

[2015-02-27 16:23] ericdill commented on #86
Then replied again:
What I forgot to say, but you can probably intuit, is that the slicing syntax then respects whatever state is set by the user.

The actual syntax probably needs to be something else like `db.search_terms['user'] = 'edill'` or whatever, but we can argue about the syntax later

[2015-02-27 16:23] ericdill commented on #86
@arkilic replied:
This is exactly what I had in mind when I wrote unique_with :+1:

[2015-02-27 16:23] ericdill commented on #86
@danielballan  replied:
My take: slicing by scan ID, like label-based slicing in pandas, is problematic but very useful. I think it should be added, but not until we add functionality for setting "defaults" like

    DataBroker.owner = 'dallan'

and so on that will make scan ID slicing meaningful.

I don't see that happening in time for next week's deployments, and I don't want to rush it. Let's m

[2015-02-27 20:49] stuwilkins commented on #86
+1 to that. This type is definitely needed, but we have to focus on Deployment at the moment.

S
On Feb 27, 2015, at 11:23 AM, Eric Dill <notifications@github.com<mailto:notifications@github.com>> wrote:

@danielballan<https://github.com/danielballan> replied:
My take: slicing by scan ID, like label-based slicing in pandas, is problematic but very useful. I think it should be added, but not until

[2015-02-27 21:29] danielballan commented on #27
Can we close this? @ericdill @tacaswell

Instead of Qt signaling, we will have queues, and the rest of this seems to be built into the new replay.

[2015-02-27 21:30] ericdill commented on #27
yes this is done

[2015-02-27 21:30] #27 closed

[2015-02-27 21:40] danielballan opened #88 "Support searching headers by data key (that is, PV ID or PV alias)"
This is the mongo query we need to build in DataBroker to make this possible:

    db.event_descriptor.find({'data_keys.point_det':{$exists: true}}).

[2015-03-05 20:23] ericdill opened #97 "Handling Errorbars in Replay the correct way"
Right now every line on the plot gets its own `ScalarModel` which holds a reference to a `LineArtist`.  This is not going to work when we need to show error bars on the data because the axes.errorbar function returns a tuple of three (See end of issue). It is unclear how to update the data in an errorbar plot without resorting to an entirely new call to axes.errorbar.

Note that this is not a high

[2015-03-05 22:10] ericdill opened #98 "bug! shallow copy in fetch events"
Hey @tacaswell found a super fun bug due to a shallow copy in fetch events.  See this notebook:
http://nbviewer.ipython.org/gist/anonymous/748df99a8cfdb809fc96

(also because its an ipython notebook, there's an implicit `git fetch @danielballan`)

p.s. really wanted to title this issue `git fetch @tacaswell`

[2015-03-05 22:28] tacaswell commented on #98
Why is fetch_events mutating the input like that?

On Thu, Mar 5, 2015, 16:10 Eric Dill <notifications@github.com> wrote:

[2015-03-05 22:46] danielballan commented on #98
Thanks for the detailed bug report.

@tacaswell, `mds.find_event` expects something with an `id` attribute. Headers combine IDs for Run Start and Run End, and hence have `run_start_id`, not `id`. My intention was to copy the Header, set the expected `id` attribute, and then pass it to `find_event`. Because I chose `copy` instead of `deepcopy`, the original was mutated.

I would prefer to add `find

[2015-03-05 23:52] tacaswell commented on #97
I have a PR in mpl to make this behave better (https://github.com/matplotlib/matplotlib/pull/3944)

[2015-03-05 23:52] tacaswell commented on #97
and you just need to update all the pieces.

[2015-03-06 00:57] stuwilkins opened #99 "Current master does not work!"
Blows up on Stop Run Events

![image](https://cloud.githubusercontent.com/assets/1297941/6518216/d7a444ce-c371-11e4-8500-842071e88521.png)

[2015-03-06 01:02] ericdill commented on #99
What commit of metadatastore are you running?

[2015-03-06 01:03] stuwilkins commented on #99
What ever you guys installed... Just trying to take its last master. That will probably fix it.

[2015-03-06 01:07] ericdill commented on #99
metadatastore master should work just fine

[2015-03-06 01:12] ericdill commented on #97
Yeah it's the 'update all the pieces' that seems like it is challenging to do correctly

[2015-03-06 01:15] stuwilkins commented on #99
Does.... now struggling with filestore

[2015-03-06 01:25] stuwilkins commented on #99
And so it does ... sorry!

[2015-03-06 01:25] #99 closed

[2015-03-09 15:23] ericdill opened #102 "Catch `Integrity Error` on header creation"

[2015-03-09 17:40] ericdill opened #103 "Search on scan_id"

[2015-03-09 17:46] ericdill opened #104 "Fix find_headers docstring before deployment today"
This tongue-in-cheek docstring should probably be fixed...
https://github.com/NSLS-II/dataportal/blob/master/dataportal/broker/simple_broker.py#L116

[2015-03-09 18:57] danielballan commented on #104
I just noticed this as well. Fixed in my `no-limit` branch.

[2015-03-09 20:53] tacaswell commented on #104
fixed in #105

[2015-03-09 20:53] #104 closed

[2015-03-10 13:55] #49 closed

[2015-03-10 13:55] #81 closed

[2015-03-10 13:55] #98 closed

[2015-03-10 14:45] tacaswell commented on #103
The spin box seems to have a maximum of 100

[2015-03-10 15:17] #103 closed

[2015-03-10 16:47] ericdill opened #110 "Normalization in replay"
Using the image_and_scalar.py example, data cannot be normalized.  Order of operations:

1. Load a dataset
1. Bin on `img`
1. Normalize against `Tsam`
1. Check the box next to `img`
1. The following stack trace is produced:

[code]

[2015-03-11 02:52] ericdill opened #112 "Clean up branches in dataportal"
It is unclear why we have branches other than master in NSLS-II/dataportal.  Anyone know what these are for?

[2015-03-11 14:59] tacaswell commented on #112
:+1: on nuking them all.

I now local branches for all of them.

[2015-03-11 23:16] ericdill opened #115 "Save individual muxer column state"
This is going to be a pain to implement and is not at the top of the list in terms of the critical path for commissioning.  Punting this for later

[2015-03-12 18:55] ericdill opened #118 "spelling error in replay gui"
In the Scalar Plot Controls view, `plot against time` is spelled as `plot againt time`

[2015-03-12 19:26] danielballan opened #119 "Events should be sorted by time."
We saw this problem at SRX.

run_start_id 5501e78eeed2e334655f5bc2a
scan_id 1

[2015-03-13 14:03] ericdill opened #121 "font size in replay"
When we updated the software on srx (5id) the font size in replay was something along the lines of 5 point or so.  Absurdly small.  @gjwillms was able to fix this by changing the default font options with qtconfig.  He suggested that gnome and kde have baseline settings for qt apps and xfce does not.

This would be a valuable thing to add to the docs

[2015-03-13 14:11] tacaswell commented on #121
email from Garth:

[2015-03-13 15:26] gjwillms commented on #121
For completeness, my procedure sets the system-wide default qt application font to "Sans Serif,18,-1,5,50,0,0,0,0,0," which beamline scientists are likely to be able to read.  This applies to all text within the widgets, but does not affect the font used for the title of each individual widget in the pane--including the titles of tabs.  I've been unable to discover from whence, in the display mana

[2015-03-16 21:19] danielballan commented on #121
It looks easy to control fonts using [enaml stylesheets](http://nucleic.github.io/enaml/docs/dev_guides/stylesheets.html#font-size) but I can't see how to implement a *minimum* font size that still respects a (larger) qt default.

[2015-03-16 21:23] danielballan commented on #112
Done.

[2015-03-16 21:23] #112 closed

[2015-03-20 21:50] danielballan opened #127 "There should be a way to fetch events as a generator"
This came up as Pavol tried to fetch events from a Header with ~400 2048x2048 images on this MacBook. Until every beamline offers a way for users to work remotely on machines with copious RAM, we can't aggressively load everything all the time.

Options:

* `DataBroker.fetch_events` simply returns a generator. Upside: simple, downside: `len(events)` doesn't work.
* Add `DataBroker.fetch_events_as_

[2015-03-20 21:52] danielballan opened #128 "fetch_events fails on an Exception from filestore during data collection"
Problem: If a datum record directs filestore to a file that is not yet written or accessible to the broker, `fetch_events` fails outright.

Instead, it should return whatever Events it can. The generator in #127 is part of a solution.

[2015-03-20 22:01] danielballan opened #129 "Proposed change to *broker* (not MDS) Event Document layout"
This proposes a change affecting the presentation of the data, not the on-disk representation.

Watching the broker API in use today, @dchabot and I think databroker's Event Documents should be changed from a dictionary of tuples to pair of dictionaries with identical keys.

Proposed API:

[code]

This does *not* require a change of the underlying MDS Document.

For the majority of use cases, we c

[2015-03-20 22:05] danielballan commented on #88
Addressed in part by #107, but it is still not possible to search by PV string -- only by alias. @arkilic can you whip up the query we need for this?

[2015-03-20 22:10] arkilic commented on #88
Got it! What would the search argument be? pvs=['motor1.rbv', 'motor2.rbv']?

[2015-03-21 02:21] danielballan commented on #88
It would be the actual PV string, stored in the source key of data_keys.
Like "PV:blahblahblah". #details

One PV at a time, for now, because if there are multiple we need to think
about "and" and "or."
On Fri, Mar 20, 2015 at 6:10 PM Arman Arkilic <notifications@github.com>
wrote:

[2015-03-21 21:10] pavoljuhas commented on #128
I tried to use the `fill_event` function from the generator example to check data from an ongoing scan, but it crashed with the traceback below.  It seems `fill_event` does not work when the scan is not complete.

[code]

[2015-03-21 21:23] pavoljuhas opened #130 "Teach DataBroker[key] about uids"
The `DataBroker[key]` syntax supports only slices or `scan_id` integers which may not be unique.  Please, let it also digest the `run_start_uid`, `run_stop_uid` values of the document object, and ideally their partials strings.

[code]

[2015-03-21 23:23] danielballan commented on #128
If an ongoing scan has generated N events so far, you should be able to get
N-1 events from the generator without an error. But if you then proceed to
iterate to the Nth one before it is finished, fill_event (which requests
the data from filestore) will fail.

Can you successfully iterate over the first N-1 elements of the generator?
Use something like [next(gen) for _ in range(N-1)].
On Sat, Mar

[2015-03-22 04:59] tacaswell commented on #129
Provisional :+1: to this.  There is no reason we can't have both `data_stream` and `timestamp_stream` vs `data`?

[2015-03-22 05:03] tacaswell commented on #128
This is a design decision to not write anything to the filestore until the scan is done which was driven by the hdf5 plugin which streams everything to a single file which can not be read until it is closed (when the run is done).

The fix needs to be pushed up into ophyd `AreaDetector` area which will need to know enough about it self to know when partial collection is readable and when it is not

[2015-03-22 13:53] tacaswell commented on #128
Because the ophyd areadetector code controls when data gets written to file
store. If it knows it is writing many files then it can iteratively
populate fs and you can get full events out during the scan.  Currently
they all gets written in deconfigure so are only known to the system after
the scan is done.

On Sun, Mar 22, 2015, 09:43 dchabot <notifications@github.com> wrote:

[2015-03-22 15:29] pavoljuhas commented on #128
It is an essential feature to be able to check scan data as they are collected.  The temperature studies are currently executed with ascan and they take several hours.  If there were some measurement problem, the user would find out only after wasting a lot of beamtime.
@kevinrknox

[2015-03-22 16:50] danielballan commented on #128
@pavoljuhas Absolutely. The only open question is how best to implement it.

Expanding on @tacaswell's comment above, there is no fundamental reason why a generator that returns Events should not be able to get data from a scan in progress. But, as AreaDetector is currently implemented in ophyd, all the TIFF files are only registered at the end of the scan -- in one batch. I failed to recognize th

[2015-03-22 16:57] tacaswell commented on #128
Doing that maybe a non trivial change to the frame accounting logic in the
current implementation.

I think we should hold off on any major changes until we see the new
version of ophyd and the run engines.

On Sun, Mar 22, 2015, 12:50 Dan Allan <notifications@github.com> wrote:

[2015-03-23 14:21] danielballan commented on #127
In an in-person conversation, @tacaswell and @arkilic are +1 on this.

[2015-03-23 14:37] danielballan commented on #129
And an in-person :+1: from @arkilic.

[2015-03-23 14:46] danielballan commented on #130
OK, that makes sense. Will do.

[2015-03-23 15:03] ericdill commented on #129
:+1: in principle.  It would be nice to shorten the word `timestamps` though, especially since tab-complete isn't necessarily a thing that people are familiar with.  Any major issues with something like `ts`?

[2015-03-23 15:03] pavoljuhas commented on #128
@tacaswell is the new version of ophyd coming out soon?  It is basically a showstopper for using ophyd if we can't monitor partial results from a long-lasting temperature scans.  I am afraid the same issue would appear for a standard 2-theta powder diffraction scans as these may also take tens of minutes to hours.  The users should be able to see the data as they arrive.

[2015-03-23 15:06] danielballan commented on #129
I slightly prefer `timestamps` but I am OK with `ts`.

[2015-03-23 16:31] tacaswell commented on #128
@pavoljuhas I will be down after lunch to hack something on XPD to make this work.

[2015-03-24 13:43] #130 closed

[2015-03-26 14:49] tacaswell commented on #128
Closing this as ophyd now has a way to do either iterative or bulk write to FS during collection.

[2015-03-26 14:49] #128 closed

[2015-03-30 18:50] danielballan commented on #88
Per conversation with @arkilic and I think @tacaswell, we are punting on searching PV string until someone needs it. It is tricky and it will definitely be slow. That is, you can `find_headers(data_key='motor1'`) but you cannot `find_headers(pv='PV:{blah}...)`.

[2015-03-30 18:50] #88 closed

[2015-03-30 19:00] arkilic commented on #88
Writing a small extension that keeps track of timestamp, alias, PV is quite straight forward to implement [if someone needs it!!!]

[2015-03-31 12:34] #129 closed

[2015-03-31 12:34] #127 closed

[2015-03-31 13:19] arkilic commented on #127
:+1: my exchange account stopped working so I wasn't getting any notifications. Full blessing

[2015-04-03 18:33] skalbfleisch opened #138 "Plot Improvements in Replay"
- [ ] NSLS-II/replay#15 The data should be plotted against the scanned motor by default, not time.
- [ ] NSLS-II/replay#16 The scan list in Replay should be a list rather than a selection via radio buttons
- [ ] NSLS-II/replay#17 A button in Replay to print a scan would be very helpful, also, a button to send it to olog together with some comments.
- [ ] NSLS-II/replay#18 There should be an option

[2015-04-04 04:41] tacaswell commented on #138
What do you mean by 'print a scan'?

I don't think mds currently has a notion of 'scanned' motor, everything is just a measurement.

If you mouse over the canvas and hit the 'L' key (lower-case, but looks too much like 1 (one) to type) it will switch the y-axis between linear and log.  If you enable the plot tool bar there is also a button which will bring up a dialog which will also let you contr

[2015-04-06 20:19] ericdill commented on #138
I'm splitting these up into individual issues

[2015-04-06 20:20] ericdill opened #139 "Default plotting in replay"
The data should be plotted against the scanned motor by default, not time.

Requested by @skalbfleisch

[2015-04-06 20:21] ericdill opened #140 "Default plotting in replay"
The data should be plotted against the scanned motor by default, not time.

Requested by @skalbfleisch

[2015-04-06 20:24] ericdill commented on #139
duplicate of #140

[2015-04-06 20:24] #139 closed

[2015-04-06 20:48] ericdill opened #142 "Scan list"
The scan list in Replay should be a list rather than a selection via radio buttons.

requested by @skalbfleisch

[2015-04-06 20:49] ericdill commented on #142
Why would you prefer a list rather than radio buttons?

[2015-04-06 20:49] ericdill opened #143 "Print/OLog from replay"
A button in Replay to print a scan would be very helpful, also, a button to send it to olog together with some comments.

requested by @skalbfleisch

[2015-04-06 20:50] ericdill commented on #143
@tacaswell asked "What do you mean by 'print a scan'?"

I am also not sure what you mean by "print a scan"

[2015-04-06 20:51] ericdill opened #144 "plotting limits"
There should be an option to set the upper and lower limit of the plotted axes.

requested by @skalbfleisch

[2015-04-06 20:51] ericdill opened #145 "Persistent scaling"
The scaling should be maintained when set manually and a new plot is selected.

requested by @skalbfleisch

[2015-04-06 20:52] ericdill opened #146 "Linear/Log scaling of axes"
There should be an option to switch between linear and logarithmic scaling of the plotted axes.

requested by @skalbfleisch

[2015-04-06 20:53] ericdill commented on #146
As @tacaswell notes, "If you mouse over the canvas and hit the 'L' key (lower-case, but looks too much like 1 (one) to type) it will switch the y-axis between linear and log. If you enable the plot tool bar there is also a button which will bring up a dialog which will also let you control the same."

Are you requesting some sort of GUI widget that allows you to make some selection that triggers t

[2015-04-06 21:00] ericdill opened #147 "Plot multiple scans in Replay"
There should be an easy way to display multiple scans in one plot.

requested by @skalbfleisch

[2015-04-06 21:01] ericdill opened #148 "Plot on multiple y axes"
There should be an option to display multiple scalars on multiple y axis of a scan in the same plot. This setting should be maintained, when a new scan is selected.

requested by @skalbfleisch

[2015-04-06 21:03] ericdill opened #149 "Persistent scaling settings"
Scaling settings (range, log/linear, etc.) of the axis should not be overwritten when automatic data update from muxer is activated.

requested by @skalbfleisch

[2015-04-07 12:58] #118 closed

[2015-04-07 14:22] tacaswell commented on #144
This is also available through the built in mpl figure option.

[2015-04-07 14:33] tacaswell commented on #148
http://matplotlib.org/1.4.3/mpl_toolkits/axes_grid/users/overview.html#axisartist-with-parasiteaxes or just http://matplotlib.org/examples/api/two_scales.html

[2015-04-09 20:23] ericdill opened #153 "Not all keys from run_start are getting mapped to header"
Keys from the run_start document
[code]
Keys from the Header document:
[code]

Note the missing `m3_xu_pos` key from the header!  This is clearly a problem.

[2015-04-09 20:26] ericdill opened #154 "Recording extra PVs?"
How do you record PVs that are generally of interest but are not being directly manipulated by the scan?

[2015-04-09 20:27] ericdill commented on #154
`dscan(slt_ssa_ib, -.1, .1, 1, m3_xu_pos=m3_xu.get()[0])` will dump the position of `m3_xu` into the `RunStart` document header, but it is rather user hostile

[2015-04-10 15:47] danielballan commented on #154
That hack for putting an initial reading into the RunStart header is actually pretty nifty. Maybe not to be encouraged (there are no event descriptors!) but I like it anyway.

[2015-04-10 15:47] #153 closed

[2015-04-10 15:48] danielballan commented on #119
Closed by #134

[2015-04-10 15:48] #119 closed

[2015-04-10 19:10] ericdill opened #158 "Resizing replay"
- "Last N Headers" DockItem needs to be embedded in a ScrollArea
- "RunSummary" DockItem is not behaving correctly

[2015-04-10 19:11] ericdill commented on #158
This was seen at 11id with @afluerasu

[2015-04-10 20:37] ericdill opened #159 "Replay crashes on startup if db[-1] fails"
Sitting here on 28id and I tried to start replay.  The stacktrace i got appears at the end of this issue.  It would appear that there is a bad tiff file being written to filestore?? cc @danielballan @tacaswell

[code]

[2015-04-10 20:38] ericdill commented on #159
Also, see this:

[code]

[2015-04-10 20:51] tacaswell commented on #159
it is a bad tiff being written to disk.  If there are invalid tiffs on disk I believe that is an AD problem (as FS does not get involved in that process, just records where AD was told to write files to).

[2015-04-10 21:11] tacaswell commented on #159
Dealing with the pre-summing will require a minor tweak to how things get written out, but not too badly.

This is being read via tifffile which is a rather forgiving reader (the primary reason it exists is to support optical microscopy and those vendors abuse tiff rather badly).

[2015-04-10 21:27] tacaswell commented on #159
[code]

Something funny was going on...

I know that on the 9th there were issues with AD writing out empty files.  My guess is that the non-empty tiffs were from someone poking the 'take a picture' button in the AD css screen as they are in the wrong day's folder and if these had been triggered through a scan then the folder and file pattern should have been reset.

[2015-04-13 21:08] #145 closed

[2015-04-20 19:26] danielballan opened #163 "Show an IPython console in replay."
@ericdill Here is how to connect to an existing kernel:

http://nbviewer.ipython.org/github/ipython/ipython/blob/1.x/examples/notebooks/Frontend-Kernel%20Model.ipynb

[2015-04-23 13:27] ericdill opened #165 "Investigate UserWarning errors coming from the simple_broker"
https://travis-ci.org/NSLS-II/dataportal/jobs/58506373#L676

[2015-04-24 11:28] ericdill opened #169 "Slow DataBroker performance at HXN"
cc @danielballan @tacaswell @klauer

Here is output from profiling the fetching of events from scan 512 at HXN.

These results are generated with the `yappi` Python profiling package along with [the script] (https://gist.github.com/anonymous/6e7f8a00f3366a22fc3b#file-profile_scan_512-py) used to generate the results.

All function calls sorted (roughly) by call stack: https://gist.github.com/anony

[2015-04-24 11:38] danielballan commented on #169
Take a look at the IPython line profiler extension.
On Fri, Apr 24, 2015 at 7:28 AM Eric Dill <notifications@github.com> wrote:

[2015-04-24 11:44] ericdill commented on #169
[edit] updated original post

[2015-04-24 15:43] tacaswell commented on #169
I suspect the problem is that as we are building the event documents it is de-referencing (the full depth) of the event descriptor and run start documents.  There is a way to get tell pymongo to not do thins (basically `QuerySet.no_dereference`, but we will have to patch up the the event documents to re-add that stuff).

I'll have this sorted out by the end of the day.

[2015-04-24 15:50] cowanml commented on #169
Can also limit the depth of dereferencing with  select_related(max_depth=N)...

[2015-04-24 22:40] tacaswell commented on #169
Have this down to ~3-4s

[2015-04-26 04:30] cmazzoli opened #170 "Syntax problem in ophyd with scan on multiple motors"
Hi guys,
this evening we saw a problem while trying to perform a linear scan involving two motors..
This syntax
scan([m1, m2], [-10, -5], [10, 5], 20)
as suggested in
http://tacaswell.github.io/docs/ophyd/scan_api.html
doesn't seem to work. Please refer to:
https://controlsweb01.nsls2.bnl.gov/xf23id1-log/index.html#4358_3
for a screenshot.
It is quite urgent... the experiment ends on sunday 04/26

[2015-04-26 04:38] tacaswell commented on #170
Does

[code]

Work?

[2015-04-26 04:44] tacaswell commented on #170
See http://nsls-ii.github.io/ophyd/scan_api.html#ophyd.userapi.scan_api.AScan which is the current 'canonical' docs.

Should be

[code]

[2015-04-26 05:09] cmazzoli commented on #170
I thing that I tried without success (because I got the syntax wrong the
first time) but I am not sure..sorry I am bit tired..
Thanks.
Cla
On Apr 26, 2015 12:38 AM, "Thomas A Caswell" <notifications@github.com>
wrote:

[2015-04-26 06:12] tacaswell commented on #170
A bit more poking at the code I think the following will work:

[code]

Note all of the `[]`, none of them are optional.

[2015-04-26 14:15] cmazzoli commented on #170
It works, thank you!
Cla
On Apr 26, 2015 2:12 AM, "Thomas A Caswell" <notifications@github.com>
wrote:

[2015-04-30 20:52] ericdill commented on #169
Closed by NSLS-II/metadatastore#134

[2015-04-30 20:52] #169 closed

[2015-05-19 17:25] vivekthampy opened #174 "Lazy loading of many frame single events"
It will be good to have many frame events loaded as PIMS objects. Right now events with large number of images are loaded at once into memory which is slow.

[2015-06-19 14:46] ericdill opened #182 "Fix dataportal to play nice with metadatastore corrections PR"
with mds corrections pr, the following error is raised:
[code]

[2015-06-21 16:21] ericdill commented on #45
Moved to NSLS-II/replay#5

[2015-06-21 16:21] #45 closed

[2015-06-21 16:33] ericdill commented on #46
Moved to NSLS-II/replay#6

[2015-06-21 16:33] #46 closed

[2015-06-21 16:33] ericdill commented on #47
Moved to NSLS-II/replay#7

[2015-06-21 16:33] #47 closed

[2015-06-21 16:34] ericdill commented on #48
Moved to NSLS-II/replay#8

[2015-06-21 16:34] #48 closed

[2015-06-21 16:34] ericdill commented on #50
Moved to NSLS-II/replay#9

[2015-06-21 16:34] #50 closed

[2015-06-21 16:34] ericdill commented on #66
Moved to NSLS-II/replay#10

[2015-06-21 16:36] #66 closed

[2015-06-21 16:39] ericdill commented on #97
Moved to NSLS-II/replay#11

[2015-06-21 16:39] #97 closed

[2015-06-21 16:40] ericdill commented on #102
Moved to NSLS-II/replay#12

[2015-06-21 16:40] #102 closed

[2015-06-21 16:40] ericdill commented on #110
Moved to NSLS-II/replay#13

[2015-06-21 16:40] #110 closed

[2015-06-21 16:42] ericdill commented on #115
Moved to NSLS-II/replay#14

[2015-06-21 16:42] #115 closed

[2015-06-21 16:44] ericdill commented on #140
Moved to NSLS-II/replay#15

[2015-06-21 16:44] #140 closed

[2015-06-21 16:44] ericdill commented on #142
Moved to NSLS-II/replay#16

[2015-06-21 16:44] #142 closed

[2015-06-21 16:46] ericdill commented on #143
Moved to NSLS-II/replay#17

[2015-06-21 16:46] #143 closed

[2015-06-21 17:36] ericdill commented on #144
Moved to NSLS-II/replay#18

[2015-06-21 17:36] #144 closed

[2015-06-21 17:38] ericdill commented on #146
Moved to NSLS-II/replay#19

[2015-06-21 17:38] #146 closed

[2015-06-21 17:38] ericdill commented on #147
Moved to NSLS-II/replay#20

[2015-06-21 17:38] #147 closed

[2015-06-21 17:39] ericdill commented on #148
Moved to NSLS-II/replay#21

[2015-06-21 17:39] #148 closed

[2015-06-21 17:40] ericdill commented on #149
Moved to nsls-ii/replay#22

[2015-06-21 17:40] #149 closed

[2015-06-21 17:40] ericdill commented on #158
Moved to nsls-ii/replay#23

[2015-06-21 17:40] #158 closed

[2015-06-21 17:42] ericdill commented on #159
Moved to nsls-ii/replay#24

[2015-06-21 17:42] #159 closed

[2015-06-21 17:44] ericdill commented on #138
Moved to nsls-ii/replay#25

[2015-06-21 17:45] #138 closed

[2015-06-21 17:47] ericdill commented on #163
@danielballan thanks!

Moved to nsls-ii/replay#26

[2015-06-21 17:47] #163 closed

[2015-06-22 15:47] ericdill opened #185 "Mechanism to load part of the dataset"
This comes from HXN.  Given a flyscan dataset (e.g., scan 1395), loading it through dataportal takes ~140 seconds.  Much of this time is spent in h5py loading stuff from disk.  While the beamline scientists are doing scans, they are primarily concerned about the three ROI entries in the hdf5 file, not the entire data set.  It seems important to either make the data loading more efficient or provid

[2015-08-07 18:46] arkilic commented on #185
This is a good idea. Actually, this is how I accomplished slicing on web services with mongo backends before(as long as not multi-threaded application since cursor is not really thread safe).We can add the indexing and slicing feature on the mongo cursor.

[code]

[code]
So we can do things like:
[code]

[2015-08-07 19:25] tacaswell commented on #194
Why am I going to hate this?  It does not make as much sense as git tagging as there is no natural 'parent' or 'child' runs.  We had always talked about keeping another collection of scanid <-> text mappings.

[2015-08-07 19:39] danielballan commented on #194
I was half-kidding. I'm glad you don't hate it. I had forgotten any earlier conversation about this. Would you be +1 on a PR implementing this in the near future? Would be nice for demos:

`db['xpcs-example-data']`

[2015-08-07 20:09] tacaswell commented on #194
I would expect `db['some-tag-name']` to return many headers.

[2015-08-07 20:11] arkilic commented on #194
Why don't you add the tags to run_start docs then? I think the first iteration of mds had tags but I was advised to get rid off them :hand:

[2015-08-07 20:17] tacaswell commented on #194
@arkilic Because we want to keep the core collections an write-once, tags need to be more dynamic.

[2015-08-07 20:24] arkilic commented on #194
I know they are write-once, I fought besides you for them to stay that way. You can have a tags collection with docs that hold uid to headers. Make this collection update-able which gives you the dynamic nature. For this kind of stuff, updates work well in mongo

[2015-08-07 20:34] tacaswell commented on #185
We can also push on filestore a bit and have it return proxy objects instead of filled out numpy arrays.

[2015-08-07 20:35] danielballan commented on #194
I think that's what Tom proposed. Same page?
On Fri, Aug 7, 2015 at 4:24 PM Arman Arkilic <notifications@github.com>
wrote:

[2015-08-07 20:43] arkilic commented on #194
Yup, I just saw his comment, have not seen that one. My only concern is this is another query that is added to the header retrieval so I am not sure if this will cause performance issues for many headers. Having mentioned my concern, I say it is up to you since performance requirement is driven by the analysis side.

[2015-08-07 20:49] tacaswell commented on #194
The performance bottle necks we have seen are all from hitting the db once-per-event, hitting a few times per run start is noise :wink: .

If we are really getting bit by that we can always do a de-normalized cache layer.

[2015-08-07 21:33] arkilic commented on #194
I'm worried about the kind of beam line that will have as many headers as hxn events. Yup, but I sure hopen adding more indexing doesn't hurt the header write speed too much :)

[2015-08-15 16:28] danielballan opened #195 "Improving the DataBroker API"
Let's discuss how we might streamline the databroker API for common use cases. I think we can do this without breaking the existing API.

Having now seen many notebooks and IPython command histories in the wild, here are the problems I see with our first attempt at the design:

1. People are loading image data when all they needed was scalars (e.g., image stats) at great cost in performance.
2. Th

[2015-08-17 14:45] yugangzhang commented on #195
[code]

[2015-08-17 14:45] tacaswell commented on #195
@yugangzhang All of that data _should_ be going into meta-data store so that it is accessible/searchable .

[2015-08-17 14:51] yugangzhang commented on #195
I know. It will be convenient for users that we can incorporate these information into make_df or other functions.  But that (make_df) function should not read the image data.

[2015-08-17 16:06] ordirules commented on #195
I am fine with any storage method so long as the tables describing the motors or other scalars may easily be associated with their img/raw data via some unique identifier. This would allow for a two-way access (i.e. if I have the img sequence, I can get the dataframes for the motors, or vice versa without much extra work.)

A two step process makes sense for the retrieval of the data. I think it i

[2015-08-17 17:17] afluerasu commented on #195
These are some good points. I also realized that some quantities (what @ordirules
calls 'fuzzy parameters') are actually not associated with any EPICS PV's and hence are not recorded in any searchable database. The beam center - X,Y coodinates on the Eiger - and detector distance are such an example. I'm not even sure of we have 'wavelength' or 'bandwidth' PVs at this moment ...
In any case, I thi

[2015-08-27 19:20] danielballan commented on #195
@afluerasu and @ordirules: Yes, the so-called "fuzzy parameters" that are not recorded on PVs should be recorded in metadatastore. This can be done in a persistent way (set a parameter once, and it gets saved on all future scans until it's updated) or on a scan-by-scan basis. We can talk about how to do this before the beam comes back. I agree with @ordirules point that we should structure where t

[2015-08-27 19:20] ericdill commented on #185
This should be folded in to the API redo #195

[2015-09-15 17:41] danielballan commented on #195
Thanks for the feedback, everyone. Updates have been made. The new API is faster and simpler and close to what I presented here. I'll post a link when the documentation is ready (before the beam comes back).

[2015-09-15 17:41] #195 closed

[2015-09-15 17:41] #185 closed

[2015-09-15 17:44] klauer commented on #195
Great - looking forward to these changes.

[2015-09-21 20:53] danielballan opened #211 "Write broker-style API to archiver that returns documents"
We recently thought of this as another light-weight package, but I think it could probably live happily in dataportal.

Suggested API:

[code]

where `pvs` is a list of strings. We could add `get_table`, too, but I think we can wait. We may not need it or want users to use it because I suspect that in almost every case their next step will be to *align* that data. So the workflow will probably be:

[2015-11-02 19:51] tacaswell commented on #182
Believe this is done.

[2015-11-02 20:07] ericdill commented on #182
Well, done is not really the correct term. More of abandoned. Since we still don't have corrections in MDS

[2015-11-02 22:09] tacaswell commented on #182
Mis-read this.

[2015-12-15 10:50] goyodiaz commented on #32
`DataFrame.hist()` sometimes creates an invisible axes and `tight_layout()` is not prepared to deal with this. See https://github.com/pydata/pandas/issues/9351

@tacaswell can you confirm whether this is a matplotlib issue?

[2016-02-20 03:55] hanfeiyan opened #218 "Urgent Help Needed!"
We are in the middle of taking data and encountered a very strange problem. We can't do any scan, neither read any data through database. It seems we lost the connection to the databroker. See below error message. Your prompt response is really appreciated!

Hanfei
[code]

[2016-02-20 15:26] tacaswell commented on #218
It looks like the mongodb for filestore has become inaccessible.  If you look in the configuration files you can see what machine that is running on and try to re-start the database.

[2016-02-20 15:27] tacaswell commented on #218
Ignore my last comment, @klauer is on this.

[2016-02-20 15:35] klauer commented on #218
Closing as this is not a dataportal issue. I'm waiting on IT support to verify that the xf03id-ca1 /DATA drive (which hosts all of the experimental metadata/scalar data and archived PV data) isn't completely dead.

[2016-02-20 15:35] #218 closed

[2016-06-03 14:41] tacaswell commented on #211
Done in https://github.com/NSLS-II/databroker/pull/51

[2016-06-03 14:41] #211 closed

[2016-06-03 14:41] tacaswell commented on #210
Now tracked in https://github.com/NSLS-II/databroker/issues/59

[2016-06-03 14:52] tacaswell commented on #194
moved to https://github.com/NSLS-II/metadatastore/issues/234

[2016-06-03 14:52] #182 closed

[2016-06-03 14:53] tacaswell commented on #174
This is done in either filestore or csxtools.

[2016-06-03 14:53] #174 closed

[2016-06-03 18:11] tacaswell commented on #165
no longer seeing these warnings.

[2016-06-03 18:11] #165 closed

[2016-06-03 18:11] #121 closed

[2016-06-03 18:12] tacaswell commented on #154
We can now wrap any PV an `opyhd.Signal` and either read it out synchronously with step scans or monitor.  In addition databroker can now talk to channel archiver.

[2016-06-03 18:12] #154 closed

[2016-06-03 18:12] #76 closed

[2016-06-06 13:36] #5 closed

[2016-06-06 13:36] #28 closed

[2016-06-06 13:36] #32 closed

[2017-07-13 18:29] CJ-Wright commented on #145
WOOOO!

[2017-07-13 18:37] hhslepicka commented on #145
🎉  :feelsgood: 👏

[2017-07-13 18:50] danielballan opened #187 "A filestore by any other name would smell as sweet?"
It's exhausting to explain that "filestore" does not store files. I like "asset_registry" (better than "resource_registry", the current name of the module in databroker). But I'm questioning whether we want to go through the painful API break of changing not only the module name but also the object names everywhere. On balance, I'm ambivalent.

Where do others stand on this?

[2017-07-13 18:56] CJ-Wright opened #188 "put event numbers in stop document"
Port from https://github.com/NSLS-II/metadatastore/issues/263#issuecomment-269548123

Any suggestions on how to do this would be appreciated. Eg do I try to make MDS store the latest event seq_num and then put a dict of `{<data_key>: seq_num}`.

[2017-07-13 18:57] licode commented on #145
:1st_place_medal:

[2017-07-13 20:29] stuartcampbell commented on #187
Any chance we would start a confusion with other projects that do similar things with similar names ?  e.g. https://girder.readthedocs.io/en/latest/user-guide.html#assetstores ? 😁

[2017-07-13 20:29] stuartcampbell commented on #187
But I do like the "asset" based name

[2017-07-13 20:48] stuartcampbell commented on #145
🍻 👏

[2017-07-13 22:55] danielballan commented on #187
Yeah, "asset" is a standard term for "heavy binary dependency" in the web world too. It seems like a good choice. Is "assert registry" (an accurate description of what this does) sufficiently different from "asset store"?

[2017-07-14 00:22] danielballan opened #189 "Set up 'air speed velocity' (asv) to benchmark different backends"
See caproto for an example.

[2017-07-14 00:40] danielballan opened #190 "When creating sqlite tables, set uid field to be unique."
Action item extracted from NSLS-II/portable-mds#12

This solves the problem of accidentally inserting the same document twice.

[2017-07-14 00:45] danielballan opened #191 "Revisit our choice to use Doct and document our reasoning"
@tacaswell and I last revisited this, by phone, about six months ago. One can make a case for returning plain dicts, as RunEngine does, but ultimately we decided it wasn't a strong enough case. The original motivations for creating doct were immutability (of which it does a less-than-perfect job) and adding getattr-based access as a synonym for getitem-based access, which is convenient but has dow

[2017-07-15 14:15] danielballan opened #194 "New configuration system spec draft"
Goal: Support multiple databrokers in the same process so it is easy to switch between beamlines or combine data between beamlines or juggle different databrokers for raw and analyzed data.

Plan, previously outlined with @tacaswell and @stuartcampbell on a whiteboard:

Deprecate `databroker.DataBroker` and `databroker.db` with noisy warnings. (We probably have to maintain them for a long time or

[2017-07-17 18:21] danielballan commented on #188
You don't need to record a separate number of events per *data key*; you need to record it per *descriptor*. I would suggest adding a dictionary to the RunStop document mapping each descriptor uid to the number of events it encompasses (its max `seq_num`).

The information you need is tracked in the RunEngine's `_sequence_counters` attribute, which maps `(bundle_name, objs_read)` to an `itertools.

[2017-07-17 19:11] CJ-Wright commented on #188
Do you want this issue moved to bluesky?

[2017-07-18 13:55] tacaswell commented on #188
Do we want to do per descriptor or per stream?

[2017-07-18 14:41] danielballan commented on #188
I don't mind track it here, since we have discussion going.

Per stream is probably what people would want most often. Per descriptor is more information (from which you can always compute per-stream). Maybe store per-descriptor and add a convenience method that computes per-stream?

[2017-07-18 17:52] danielballan commented on #195
P.S. I also ran these tests against the branch from https://github.com/NSLS-II/bluesky/pull/674 that strips 'sanitize_np' out of bluesky. They pass.

[2017-07-18 20:20] tacaswell commented on #188
@danielballan Sold on descriptors vs stream

What will we do when the archiver or tag/notes/comments event sources are used?  They will produce descriptors and streams that we do not know about at Stop creating time.

 - no entry and consumers just need to be wary
 - add an entry (as at retrieval time we know everything) with a sentinal for 'don't know'
 - add entry and count at retrieval time

[2017-07-18 23:10] CJ-Wright opened #196 "Stash filestore token even when filled"
I've ran into an issue with filtering the data.
Generally we want to filter on the actual data, which requires the events to be filled. After filtering it would be nice to have the option of passing the data into the databroker (for instance if your filtering took a long time to execute). However, the data didn't change (the image is still the same) only how we have represented it in MDS. In this

[2017-07-19 02:18] CJ-Wright commented on #194
Does this mean that if we stuff the `name` of the databroker into the documents we could reference/get data from that broker without having to have that broker loaded ahead of time? This would fix some of the problems on my side. Eg I'd like to use raw data stored in filestore in my analyzed database (I ran a huge filtering algorithm on it and want to persist the output) but don't want to write do

[2017-07-19 02:19] CJ-Wright commented on #196
As part of this we may want something to address a filestore, that way if you have multiple databrokers on a system we know which one to look at when we want to get the data back, see #194

[2017-07-19 18:03] danielballan commented on #188
I think 'no entry' is clearest. Consumers either need to be wary of 'no entry' or they need to be aware of our "don't know" sentinel. The former is more universal.

Adding a count at retrieval time could potentially mean loading all the data, depending on the data source, so I think we do not want to guarantee that we will always do that. But in cases where we can cheaply add a count at retrieval

[2017-07-20 23:14] CJ-Wright opened #197 "Should __getitem__ return Result?"
Should `__getitem__` return a `Result` instance? One could imagine `db[-100:]` and not wanting everything there at once.

[2017-07-22 17:13] stuwilkins opened #198 "Slicing Indexes"
We have run up against an issue with the lazy loading of images with `filestore`. At CSX we usualy take datasets which are of a large number of images per point. As we index our data as :
[code]
We lazy load on point. i.e. the generator goes through and returns `[(image), (y), (x)]`.

The problem with this, is this breaks if you have `(image)` >> `(point)`.

How do we lazy load 2 deep?

[2017-07-22 19:06] danielballan commented on #197
One important difference between an arbitrary query and a getitem one is that you always know exactly how many Headers you'll get back from a getitem one. You'll never be in a situation where you accidentally get a huge result set. So, you can always do:

[code]

[2017-07-22 19:29] CJ-Wright commented on #197
Fair enough

[2017-07-22 19:29] #197 closed, assigned to nobody

[2017-07-24 11:08] #198 closed, assigned to nobody

[2017-07-24 14:12] CJ-Wright commented on #196
@tacaswell @arkilic

[2017-07-24 14:12] tacaswell commented on #198
You should be getting back lazy objects from your handlers already.

[2017-07-24 14:24] tacaswell commented on #196
I am mostly :-1: on this as it surfaces more details about how the data is stored on the back than I really want to have surfaced, however this is a compelling use case.

In the case of filtering, it may be better to write down event uids and lobby for the 'get a single event' API to be revived or to write down a binary mask + header uid.

The `'external'` string in the descriptor is intended to i

[2017-07-24 14:34] CJ-Wright commented on #196
I'm not a fan of having a double retrieval for this, especially as there isn't a nice API for the retrieval of events within events or events from a binary mask + header uid like there is for getting filestore data. I don't know about "[surfacing] more details about how the data is stored" we already hand back filestore tokens from both the RunEngine and `hdr.stream(fill=False)`. I guess we could

[2017-07-24 14:38] stuwilkins commented on #198
Yes... we are getting objects back, but I suspect something in the HDF5 layer, it needs more debugging on my part before repoening this.

[2017-07-24 15:18] tacaswell commented on #196
What is "events within events" ?

While the uids are exposed, they are mostly exposed as place-holder tokens that should be opaque to the users.

If we do this, I think the correct place to stash this information is in the filled dictionary.

[2017-07-24 15:27] CJ-Wright commented on #196
Maybe I should try to give more context. The output of my filtering is a new stream in the event model, with a new `start`, `descriptor`, `event`(s), and `stop`.
My interpretation of what you wrote was that I could stuff `event_uids` into my new events and then unpack them later via the `get_single_event` API.

I am ok with putting this in filled.

[2017-07-24 15:57] CJ-Wright commented on #196
Do you want a PR to add the tokens to filled?

[2017-07-27 15:43] danielballan opened #202 "Name the index of the the table() result seq_num"
This will make the output of `to_csv(...)` better.

[2017-08-02 19:13] tacaswell commented on #144
Closing as this has been drastically changed due to octo-merge.

[2017-08-02 19:25] danielballan commented on #102
Superceded by #119

[2017-08-02 19:45] danielballan opened #205 "The FileStores should belong to the Broker, not the EventSources"

[2017-08-02 19:57] danielballan opened #206 "Allow slicing in stream(), events(), and table()"
As in, you should be able to ask for all rows starting with row N so that you don't need to load and throw away the first N-1 rows.

[2017-08-02 20:03] danielballan opened #207 "Rethink Header.events and Header.stream"
Believe or not, @tacaswell is advocating for a name change. I'm just the note-taker here. Adjust my reputation among my peers accordingly.

* Header.events -> Header.stream
* Header.stream -> Header.documents

Also, the new Header.stream should *require* its stream_name arg and disallow `ALL`. That is, it should return rows from a table. That analogy implies that the rows have homogeneous columns.

[2017-08-02 20:06] danielballan opened #208 "Add Header.descriptors_by_stream(stream_name)"
Currently, we have `Header.descriptors`, a property. This assume that descriptors we cheap to load and we could just get them all quickly. If fetching them involving calling an external services, we want `Header.descriptors_by_stream(stream_name)`.

The name is up for debate but the concept is useful.

[2017-08-02 20:12] danielballan commented on #191
We are strongly leaning toward dropping doct. One original reason for needing it becomes moot when documents have uids instead of references to other documents. This change would also break dot access (but tab complete would still work on getitem access). Users handle documents interactively much less than we expected.

Concerns, anyone?

[2017-08-03 00:01] CJ-Wright commented on #191
I'm just happy that this means that all the documents will be consistent :smile:

[2017-08-03 00:04] CJ-Wright opened #209 "ENH: give Results a __getitem__"
Use islice? (although islice doesn't support negative indices)

[2017-08-03 00:06] CJ-Wright opened #210 "Question: Is it possible to query on the descriptor?"
If we move to a system which has a separate stream for dark data it would be helpful to query for data which has a dark data stream.

[2017-08-03 19:28] codecov-io commented on #211
# [Codecov](https://codecov.io/gh/NSLS-II/databroker/pull/211?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/NSLS-II/databroker/pull/211/graphs/tree.svg?height=150&width=650&token=Y9WnDD9Qfa&src=pr)](https://codecov.io/gh/NSLS-II/databroker/pull/211?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/NSLS-II/databroker/pull/211?src=pr&el=tree) | Coverage Δ |

[2017-08-03 20:10] danielballan commented on #211
THS PR HS A RLY CRYP. TLT.

[2017-08-03 21:42] danielballan commented on #210
Not from the databroker API, but you can greedily load a bunch of Headers into RAM and then do finer filtering in Python.

In theory we could expose this in the databroker API, but that feature request would have to get in line behind serious performance concerns that richer indexing would worsen. Not likely to happen in 2017.

[2017-08-03 21:43] danielballan commented on #209
The simpler Results is, the less there is to explain. I think I prefer that people just use itertools on Results directly.

[2017-08-03 23:12] danielballan opened #212 "Did we accidentally break top-level functions like get_table?"
Note to self to follow up on this -- do the old top-level functions like `get_table`, `get_events`, and `get_images` still work?

They are definitely *not recommended* and should issue warnings (because they presume a singleton Broker instance) but I think we have to support them for awhile to avoid breaking many user notebooks.

If we did break these recently, I think we should reinstate them for

[2017-08-03 23:15] tacaswell commented on #211
Both done.

[2017-08-03 23:29] danielballan commented on #211
:clap:

[2017-08-03 23:32] danielballan commented on #187
We could support the old names with warnings for awhile, but this would still be pain. It would probably mean changing a little ophyd API (again with warnings for awhile) from `fs` to `ar` for "asset registry" or whatever name we choose.

I'd be interested to know if @ordirules, @CJ-Wright, and any others think increased clarity is worth this pain. I'm torn.

[2017-08-03 23:35] danielballan opened #213 "The Broker.fill_event method should allow filling specific fields."
Currently you have to fill all or none. The 'filled' key would make it clear which had been filled.

Gleefully assigning this to @tacaswell with hope in my :heart:.

[2017-08-03 23:36] CJ-Wright commented on #187
I'm so deep into the existing system at this point that I don't mind the name. However, some people run into issues with the "file" in the name, since it might be associated with a "file based workflow" connotation which we are actively not pursuing.

[2017-08-04 01:25] tacaswell commented on #212
I think we should break them on purpose.

[2017-08-04 03:51] jrmlhermitte commented on #187
I'm not sure. In linux, file can mean from data on disk to something virtualized, and people have been fine with that. I feel like `databroker` is about the same thing. I'd be inclined to say it's not worth the pain.
However, to add to your data points, I'm fine with the change if you decide to do it, and agree it's clearer (I like `asset` as well). I guess the question will come down to how many

[2017-08-04 13:52] danielballan commented on #187
Bluesky and ophyd are widely enough deployed that I wouldn't make a change like this on them. But databroker and its dependencies are still in a more primordial phase, and they are not deployed in production outside NSLS-II to my knowledge. Databroker is intentionally still not on PyPI.

[2017-08-04 13:54] danielballan commented on #187
Not yet sure whether to pull the trigger on this, but in the meantime more naming ideas... what about just `Assets`? It's all scoped under the databroker package now, so it doesn't need a particularly unique name, just a descriptive one. It seems like we all like "asset" but are less excited about "asset registry," which is a mouthful anyway.

[2017-08-07 14:51] danielballan commented on #187
We're going with:

* FileStore -> Assets
* resource document -> asset
* datum document -> ???

[2017-08-08 13:14] danielballan commented on #187
Disregard my previous comment. I misunderstood Tom's feelings on this subject, and given our short manpower it seems unlikely we'll undertake internal renaming without his enthusiastic support.

[2017-08-08 19:41] tacaswell commented on #210
A better ask is the ability to have more than one run open at a time in bluesky.  That way you can put the dark frames in their own run while holding the data collection run open.

[2017-08-08 20:10] CJ-Wright commented on #210
I thought that was going to be a bit of an anti-pattern, but our use case is taking darks without putting in a stop document on the lights so whatever gets us there makes me reasonably happy.

[2017-08-08 20:24] stuartcampbell commented on #210
I might be missing something, but why do we need to query the descriptor for this ?  Wouldn't you just store the fact you are doing a dark frame into the start document ?

Or do we always measure the dark frame as part of the main data collection ?  as in the same data stream ?

[2017-08-08 20:29] CJ-Wright commented on #210
The setup may be like this:
1. User sets a timeout for darks or we have some automated analysis which says we need to take a new dark
1. User runs experiments
1. For some short experiments new darks may not be needed
1. For others we may need new darks

We don't know apriori if we took a dark (thus can't stuff something into the start).
We could potentially put the query information into the stop

[2017-08-09 00:00] danielballan commented on #191
Documenting an in-person design discussion with @tacaswell:

Goals:
* Create a path to fully removing `doct` and just representing documents as plain dictionary objects.
* Do not break dot access in this release. That is, continue to support `event.data` as a synonym for `event['data']`... at least for now.

Proposed path:

1. Remove the special `_name` key from doct, so that the `Doct` object bec

[2017-08-09 14:13] #187 closed, assigned to tacaswell, danielballan

[2017-08-09 16:20] codecov-io commented on #218
# [Codecov](https://codecov.io/gh/NSLS-II/databroker/pull/218?src=pr&el=h1) Report

[![Impacted file tree graph](https://codecov.io/gh/NSLS-II/databroker/pull/218/graphs/tree.svg?token=Y9WnDD9Qfa&width=650&height=150&src=pr)](https://codecov.io/gh/NSLS-II/databroker/pull/218?src=pr&el=tree)

[code]

| [Impacted Files](https://codecov.io/gh/NSLS-II/databroker/pull/218?src=pr&el=tree) | Coverage Δ |

[2017-08-09 18:32] tacaswell commented on #218
:+1: Can you add a test of the legacy stuff?

[2017-08-10 13:17] #209 closed, assigned to nobody

[2017-08-10 13:18] danielballan commented on #194
Closed by #218

[2017-08-10 13:18] #194 closed, assigned to danielballan

[2017-08-10 13:33] danielballan commented on #207
@tacaswell Thinking on this, I like `Header.documents()` (or maybe `Header.docs()`) but I think `Header.events()` is more clear than `Header.stream()`. It only returns Event documents.

[2017-08-10 14:07] tacaswell commented on #207
I seem to have flipped a few times on this as I was arguing against this at lunch yesterday.

I think `Header.events` -> just event dicts with no names and no other types, but all from a single stream (and it is the users job to have previously gotten the descriptors (if they care).

`H.docs()` seems like it should give us documentation (see 'readthedocs') so `documents` is probably better if long

[2017-08-10 14:18] tacaswell opened #221 "make client/server tests more reliable"
The databroker tests with the client randomly fail on starting the server

https://travis-ci.org/NSLS-II/databroker/jobs/263097538

We should either shorten the existing timeout and then re-try starting the server or watch the stdout/return from the process to know if it has started or failed.

[2017-08-10 14:19] danielballan commented on #207
I'll quickly write a PR for this while we are in agreement! :-)

[2017-08-10 14:45] CJ-Wright commented on #207
Will there be a header based method for getting all the data associated with a `run_start` out?

[2017-08-10 14:50] danielballan commented on #212
In in-person discussion, we agreed that we would continue to support old usages like:

[code]

with warnings that they will be removed in the future [because they are incompatible with using _multiple_ Brokers in the same process]. The recommended usage going forward will be documented in the upcoming release notes but I'll put it here too:

[code]

The old usage is now thoroughly protected by tes

[2017-08-10 14:50] #212 closed, assigned to danielballan

[2017-08-10 14:51] danielballan commented on #208
In an in-person discussion we determined that event sources should be able to return descriptors quickly (i.e., without a lengthy network call). They should know enough about their Events that they don't need to fetch the first one in order to know what will be in it.

Therefore, no change to databroker is needed.

[2017-08-10 14:51] #208 closed, assigned to tacaswell

[2017-08-10 14:56] danielballan commented on #191
I followed this path in #219. Instead of changing `doct` itself, I wrapped it in a subclass `DeprecatedDoct`.  When you try to use dot access to access items (as in `event.data`), it warns we _might_ remove that in the future and that that should use `event['data']` instead.

Users annoyed by these warnings can get the old behavior back like so.

[code]

[2017-08-10 14:56] #191 closed, assigned to nobody

[2017-08-10 15:02] danielballan commented on #207
Yep, that's `h.documents()`. You can narrow it by stream with `h.documents('primary')` etc. but the default for that method is to give you everything.

[2017-08-10 15:05] cmazzoli commented on #212
Thanks.
Claudio

On Aug 10, 2017 10:50 AM, "Dan Allan" <notifications@github.com> wrote:

[2017-08-10 17:02] tacaswell commented on #185
Done in https://github.com/NSLS-II/databroker/pull/217

[2017-08-10 18:32] tacaswell commented on #195
I have added these commits on to #216 (I wanted the sanitation code for something else so I fixed the remaining bugs in this....)

[2017-08-10 19:55] licode commented on #119
I happened to have an old version of databroker. Search works fine at version 0.6.2, but not for new version >= 0.7.0. Need to follow up more on recent changes.

[2017-08-11 02:50] danielballan opened #224 "Update setup.py"
We planned to use the new pip feature of selectors to install partial dependencies. That way, users who only want to use the simple sqlite backends, not a full MongoDB deployment, won't need to install pymongo.

[code]

This should get done before we tag.

[2017-08-11 04:21] danielballan opened #225 "Deprecate Broker.restream and maybe also Broker.process"
`Broker.restream` is just a pass through to `Broker.get_documents`. We should deprecate it for simplicity.

Also, these are equivalent:

[code]

as are these:

[code]

Do we still want a special method, `Broker.process`?

[2017-08-11 15:49] #207 closed, assigned to danielballan

[2017-08-11 15:58] danielballan commented on #206
There is a way forward on this -- likely adding a parameter that accepts a `slice` object -- but no time to implement it properly before 0.9.0. Punting to 0.10.0.

[2017-08-11 16:57] danielballan commented on #196
Closed by #200

[2017-08-11 16:57] #196 closed, assigned to nobody

[2017-08-11 17:45] licode commented on #119
Just tried the master version of databroker on basic searching function. I think It works fine. But filter function doesn't work.

[code]

[2017-08-11 17:49] danielballan commented on #119
Good. I would still feel better if we could hammer this functionality with a bunch of different tests: start_time only,  stop_time only, start_time + some other query parameter like `plan_name`, etc.

Is the code that special-cases the start_time and stop_time parameters applied to the filters? That would explain this.

[2017-08-11 18:27] licode commented on #119
It works fine with combinations like plan_type or others.
[code]

[2017-08-11 18:29] licode commented on #119
but if we only define time on one end. It looks like the search stopped for some non existing runs, like 32941. Maybe we should make search ignore those, and continue to keep going.
[code]

[2017-08-11 18:41] licode commented on #119
My basic tests show that filter with time doesn't work, same as reported in https://github.com/NSLS-II/databroker/issues/147

[2017-08-11 18:47] danielballan commented on #119
Can you see how the `start_time` and `stop_time` are treated specially in `Broker.__call__`? We need to do the same for the queries in `Broker.filters`.

[2017-08-11 18:48] licode opened #228 "duplicate information in filters"
Same information should only appear once. This can be a quick fix.
[code]

[2017-08-11 19:09] danielballan opened #229 "Add tests to cover #200"
See #200. We punted on this in a rush to get v0.9.0 tagged.

[2017-08-11 21:38] danielballan opened #232 "Deprecate get_images and Images"
Summarizing a conversation with @stuwilkins:

Fortunately, we have independently reached the same conclusion: `get_images` is awkward. It takes the return value from an asset [née filestore] Handler and, whatever it is, wraps it in a PIMS object. Oftentimes, the handler itself has returned a PIMS object, resulting in a PIMS object inside anoter PIMS object. This does not behave well; for example,

[2017-08-11 22:22] stuartcampbell opened #235 "Create utility to delete data"
A utility that will delete all the documents and files associated with a scan.

[2017-08-12 21:15] CJ-Wright opened #237 "_munge_time broken"
https://travis-ci.org/xpdAcq/xpdAn/jobs/263914210#L1159

It seems that datetime is no longer imported.

[2017-08-12 21:25] CJ-Wright opened #239 "BUG: `db.fill_event` broken?"
Relevant output
https://travis-ci.org/xpdAcq/xpdAn/jobs/263914210#L1249

`db.fill_event` called [here](https://github.com/xpdAcq/xpdAn/blob/aa4b7f42d8b39bcafccff330a95206dc6e6387b4/xpdan/callbacks_core.py#L159)

[2017-08-12 21:30] tacaswell commented on #239
what version of databroker are you using?

[2017-08-12 21:30] tacaswell commented on #239
And can you please provide a minimal example?

[2017-08-12 21:36] CJ-Wright commented on #239
databroker was pip installed from master

[2017-08-12 22:10] CJ-Wright commented on #239
It seems that this was a problem between databroker and metadatastore (I've updated our code to use the databroker test utilities).

[2017-08-12 22:10] #239 closed, assigned to nobody

[2017-08-12 23:25] CJ-Wright opened #240 "file resources broken?"
It seems that a pip install from master does not capture the schemas?
https://travis-ci.org/CJ-Wright/xpdAn/jobs/263936602#L1531

`pip install https://github.com/NSLS-II/databroker/zipball/master#egg=databroker`
[code]
yields error
`FileNotFoundError: [Errno 2] No such file or directory: '/home/travis/mc/envs/testenv/lib/python3.5/site-packages/databroker/assets/schemas/AD_HDF5_resource.json'`

[2017-08-13 13:59] danielballan commented on #240
Cannot reproduce:

[code]

Nonetheless we should probably follow up on #231 we a refactor that uses `pkg_resources.resource_filename`.

[2017-08-13 15:12] CJ-Wright commented on #240
How did you install the databroker?

[2017-08-13 19:23] CJ-Wright commented on #240
Sorry wrong test code
try this:
[code]
I got
[code]
On my local pip install.

[2017-08-14 00:14] danielballan commented on #240
I see. A installation via `python setup.py develop` works even if the pkg_resources haven't been configured correctly. One must use `pip install .` to reproduce locally.

See #241 for fix. Thanks for taking the time for the back-and-forth here.

[2017-08-14 00:33] CJ-Wright commented on #240
Thank you! Sorry that I didn't have a breaking example the first go round (I have also had problems with `pkg_resources`).

[2017-08-14 13:51] tacaswell commented on #237
Do not use private functions, we will break them on micro releases.

Fixed by #242

[2017-08-14 13:51] #237 closed, assigned to nobody

[2017-08-14 14:25] #202 closed, assigned to danielballan

[2017-08-14 14:25] #240 closed, assigned to nobody

[2017-08-14 14:41] danielballan commented on #232
Closed by #244

[2017-08-14 14:41] #232 closed, assigned to danielballan

[2017-08-14 14:44] danielballan commented on #129
@tacaswell and I are no longer sure what the best default is here, so we'll leave this alone at least for now, maybe forever.

[2017-08-14 18:30] danielballan commented on #174
See https://nsls-ii.github.io/databroker/api.html#advanced-controlling-the-return-type

[2017-08-14 18:34] danielballan commented on #119
I checked our test coverage of this feature, and it's better than I had remembered. We can't reproduce any time-related bugs on current master, so I'm closing this.

[2017-08-14 18:34] danielballan commented on #147
Closed by #230. Thanks for the report, @ordirules.

[2017-08-14 18:59] CJ-Wright commented on #174
What does this mean concretely? Do I need to add a `prepair_hook` which strips `_name`?

[2017-08-14 19:01] tacaswell commented on #174
Yes.

[2017-08-14 19:15] danielballan commented on #174
I would actually say no. It means you may add a prepare_hook that never adds _name in the first place, such as the example given involving deepcopy.

[2017-08-14 20:55] danielballan commented on #221
As written, the server tries to bind to a specific port. I would bet that the OS is not cleaning up old sockets fast enough, and therefore the server startup is dying on failure to bind to the port. Could we use random ports (provided by the OS) in the tests?

[2017-08-14 21:07] tacaswell commented on #221
The fixture already uses a random port in one place (https://github.com/NSLS-II/databroker/blob/master/databroker/tests/utils.py#L136) but not all!

[2017-08-14 21:13] tacaswell commented on #174
Fair.

[2017-08-14 21:44] #221 closed, assigned to nobody

[2017-08-14 21:56] danielballan opened #248 "Check in on register_builtin_handlers"
Make sure register_builtin_handlers() still works somehow (or devise something to replace it) and document that somewhere.

[2017-08-14 21:58] danielballan opened #249 "Go through all methods that take stream_name, fill, fields and impose a consistent order"
suggested by @tacaswell

[2017-08-15 11:06] stuwilkins commented on #248
HI @danielballan I checked and master "out of the box" does not register handlers. Take a look at:

http://nbviewer.jupyter.org/gist/stuwilkins/aacc922f0811c8928dfba25dd1812c57

vs.

http://nbviewer.jupyter.org/gist/8e4dff8b96717a856191f6bce2c5c6eb

It appears that there is no hook when you now do Broker.named to register the handlers but it is only then when you have the fs object.

[2017-08-15 11:19] stuwilkins opened #251 "What asset handlers should return and how do we deal with data."
Hi @danielballan, @stuartcampbell

I would like to open this issue to track a discussion about how to deal with data created and returned by the asset handlers and how to deal with large datasets. This is a follow on from #232. I would appreciate input from @afluerasu  as the other large dataset user.

More soon....

[2017-08-15 12:48] danielballan commented on #251
Summary of where our in-person discussion left off:

It would be useful to have a new-and-improved `get_images` function that:

* understands the dimensionality of data from bluesky + Area Detector: (`num_points`, `num_images`, `y`, `x`)
* allows slicing along all of these dimensions; for example one could grab a small ROI from all frames using `imgs[:, :, :10, :10]`

If the handlers return h5py.D

[2017-08-15 12:59] stuwilkins commented on #251
Thanks @danielballan. Over coffee this morning I did some tests, you can't slice into an `h5py.Dataset` object. Doing so causes the data to be loaded. This means that you need to containerize the dataset (as we did with pims) if you want lazy loading.

For all of 10 minutes look, dask looks promicing. Have a look at:

http://nbviewer.jupyter.org/gist/74632daa8d115f1c50be32e933def682

[2017-08-15 13:02] danielballan commented on #251
Awesome. Is your `AreaDetectorHDF5Handler` returning `h5py.Dataset` objects? For best performance, use: http://dask.pydata.org/en/latest/examples/array-hdf5.html

[2017-08-15 13:17] CJ-Wright opened #253 "Make it easier to copy files to an external databroker."
As @tacaswell and I have been discussing it may be helpful to have `db.export` act somewhat as a callback. Most of this is handled in `db.insert`, but the copying of assets and assetstore records is not.
Potentially related to #246

[2017-08-15 13:33] stuwilkins commented on #251
Have a look at #254 This is what generated the notebook

[2017-08-15 13:48] danielballan commented on #253
Could you clarify with an example what you mean by "act somewhat" as a callback?

[2017-08-15 13:53] danielballan commented on #248
Solution in https://github.com/NSLS-II/databroker/pull/236/commits/0c833094dfb7866ab1840e8f4e4d815fe38a4b23

Creating a Broker via any method (init, from_config, named) auto-registers the built-in handlers until you pass in `auto_register=False`, which is an optional argument for all of those methods.

[2017-08-15 13:53] CJ-Wright commented on #253
I can pass individual documents to it.
[code]

[code]

[2017-08-15 14:09] danielballan commented on #253
Why not use `db.insert`?

[2017-08-15 14:10] CJ-Wright commented on #253
Missing filestore records, files not copied into exportable folder.

[2017-08-15 14:20] CJ-Wright opened #255 "DOC: stub documentation?"
This doesn't seem complete
https://github.com/NSLS-II/databroker/blob/5dd77e678a4048b04594b01f88e5f4209187ca43/databroker/assets/base_registry.py#L695

[2017-08-15 14:43] danielballan commented on #255
Thanks for flagging this. Documentation of the user-facing components (Broker) is cleaned up for this release, but documentation of the internal components will be a bit messy I'm afraid. We'll revisit that before the next release.

[2017-08-15 14:51] CJ-Wright commented on #255
Is there going to be a `Broker` based wrapper for this?

[2017-08-15 15:48] #229 closed, assigned to nobody

[2017-08-15 15:49] danielballan commented on #248
Closed by #236

[2017-08-15 15:49] #248 closed, assigned to nobody

[2017-08-15 15:49] danielballan commented on #249
Closed by #236.

[2017-08-15 15:49] #249 closed, assigned to nobody

[2017-08-15 19:51] danielballan commented on #213
`Broker.fill_events` supports this. `Broker.fill_event` does not, but it is deprecated in favor of `Broker.fill_events`.

[2017-08-15 19:51] #213 closed, assigned to tacaswell

[2017-08-15 19:51] danielballan commented on #213
Closed by #236

[2017-08-15 21:02] CJ-Wright opened #260 "REL: add scripts as entry points"
Would it be possible/desirable to add the scripts as entry points so they can be run from the command line even after `python setup.py develop`?

[2017-08-15 21:20] tacaswell commented on #260
What scripts do you expect to see?  The only two we have are `fs_rename` which you should not be using and `start_md_server` which stands up a tornado server infront of your mongo.

This should already be the case (this is how we were starting the server for the client tests before we changed travis to do a normal install).

[2017-08-15 21:44] CJ-Wright commented on #260
For some reason my system doesn't see those scripts when running tests, causing all the client tests to fail.

[2017-08-15 21:57] #224 closed, assigned to stuartcampbell, danielballan

[2017-08-15 22:42] danielballan commented on #260
I can't reproduce that locally. Can you elaborate on "when running tests"? Do you see them when not running tests? How do you run the tests?

[2017-08-16 13:01] stuwilkins opened #264 "Override Handler Registry"
In the "new" API functions to get data there appears to be no way to override the default handlers. It is great to get data via the

[code]

But there is no way to override the handler to look at the data differently. `get_events`, has a method to override the handler but I thought these methods were now depreciated.

[2017-08-16 13:51] danielballan opened #265 "Do not lead off tutorial with Broker.named."
At @ordirules' suggestion, it may be better to at least mention `Broker.from_config` before showing the magical `Broker.named`, as the former makes it more clear what configuration is going in.

[2017-08-16 14:08] jrmlhermitte commented on #265
Small detail, but I was suggesting using the constructor directly from the API as a first step:
[code]

Unless this is strictly discouraged (maybe it's not safe?), I prefer this guts and pieces approach. I feel importing objects and instantiating them is more pythonic than calling a black box, and allows continuity from the scientist who may have just learned python to feel more comfortable. Just

[2017-08-16 15:53] stuartcampbell commented on #264
This should be documentated.

[2017-08-16 15:58] stuartcampbell opened #266 "Add a description field for the databroker config"
For things like `list_configs` it might be nice to print out a more descriptive string.  We should be able to add that to the config file and print it if it exists.

[2017-08-16 16:42] danielballan opened #268 "Add handlers to the configuration file specification."
And change auto_register to encode options about default handlers that can be overriden by config.

[2017-08-16 20:50] CJ-Wright commented on #264
Does the context manager still work? (I don't have it at my fingertips right now though)

[2017-08-16 21:18] jrmlhermitte commented on #265
Here's my suggestion:

[code]

I find something like this would be very valuable to understand how it works. Going from a dictionary to a few python object declarations. This discussion might help out any misunderstandings I have of the library.

EDIT: Changed to `MSDRO` and `RegistryRO` (dangerous otherwise)

[2017-08-16 21:42] danielballan commented on #266
I think `list_configs` should continue to retain a plain list of alphabetically-sorted valid names. That seems useful and simple. Let's add a new fucntion (called `describe_configs` ?) that returns names mapped to descriptions.

[2017-08-16 21:43] danielballan commented on #264
@CJ-Wright Yes. That's the piece that's used internally, so it definitely works.

[2017-08-17 03:42] #264 closed, assigned to nobody

[2017-08-17 12:58] danielballan opened #273 "Apply the 'install_sentinels' code to MDS."

[2017-08-17 12:58] danielballan opened #274 "Document 'install_sentinels' in the configuration section."

[2017-08-17 17:43] #266 closed, assigned to nobody

[2017-08-17 17:43] #268 closed, assigned to danielballan

[2017-08-17 21:18] danielballan opened #277 "Known issue: the config search path does not include any Windows locations"
I think the correct path is something like

[code]

but we should try this on a Windows box.

[2017-08-17 21:21] stuartcampbell commented on #277
Is the best way to test this to create a file in this directory and see if it shows up in the list of available config ?

[2017-08-17 21:30] danielballan commented on #277
That sounds reasonable to me. We just need a Windows box.

[2017-08-17 21:32] stuartcampbell commented on #277
I'll do it tonight when I go home... I only use Windoze for some games!  please don't judge me! :)

[2017-08-17 21:36] CJ-Wright commented on #277
Is there any interest in testing this via a windows CI?

[2017-08-17 21:41] stuartcampbell opened #279 "CI: Windows CI"
Investigate and possibly implement a Windoze CI config

[2017-08-17 21:43] stuartcampbell commented on #277
I think so, but I'm keen to just get this working and the release tagged.

I've created #279 for it.

[2017-08-17 21:46] CJ-Wright commented on #279
Let me know when you have it, we should build one on our side at some point, too.

[2017-08-18 13:27] stuartcampbell commented on #279
Re-opening as I referenced the wrong issue in the PR

[2017-08-18 14:13] licode commented on #228
closed via https://github.com/NSLS-II/databroker/pull/269

[2017-08-18 14:14] #228 closed, assigned to licode

[2017-08-18 14:25] licode opened #283 "Keep an original copy of filters"
So the time content in filters will not change after search. This will avoid issues like:
[code]

[2017-08-18 18:33] CJ-Wright opened #286 "`/` in root/resource_path again"
We solved this issue before (I think) but its back. The main issue is that if `os.path.join` sees two paths starting with / it will ignore one of them.

[2017-08-18 18:35] tacaswell commented on #286
This was intentional, fix your database.

[2017-08-18 18:35] #286 closed, assigned to nobody

[2017-08-18 18:50] CJ-Wright commented on #286
Did a fix go out to XPD?

[2017-08-18 18:53] tacaswell commented on #286
No, are you seeing this directly on their system or only on your exported databases?

[2017-08-18 18:54] CJ-Wright commented on #286
Exported, although I had thought that at one point this extended back to XPD, although I could be wrong.

[2017-08-18 18:56] tacaswell commented on #283
Closed by #284

[2017-08-18 18:56] #283 closed, assigned to licode

[2017-08-20 19:51] tacaswell commented on #277
Closed by #280

[2017-08-20 19:51] #277 closed, assigned to stuartcampbell

[2017-08-22 14:50] #255 closed, assigned to nobody

[2017-08-22 14:56] danielballan commented on #205
This was addressed.

[2017-08-22 14:56] #205 closed, assigned to tacaswell

[2017-08-22 14:57] #260 closed, assigned to nobody

[2017-08-23 01:11] CJ-Wright opened #290 "Rehabilitate `fill_event`"
It seems a bit odd to need to keep track of the descriptor for `fill_events` if I have a valid event with a valid descriptor uid. Also it would be handy to have a function which operates on a single event and fills it.

[2017-08-23 11:54] CJ-Wright opened #292 "Tst run engine now returns a tuple of uids"
This is causing some of the failures on the typo PR. The tests assume that the run engine returns a list.

[2017-08-30 12:54] danielballan commented on #292
Fixed as part of #293

[2017-08-30 12:54] #292 closed, assigned to nobody

[2017-08-30 13:03] danielballan commented on #290
It's reasonable to consider this. For anyone else reading along, we used to have a method `Broker.fill_event` that took in an Event document. Now we have deprecated `Broker.fill_event` in favor of `Broker.fill_events`, which takes in a list of Event documents and a list of all the Event Descriptor documents that they are linked to.

Let me document our reasoning as I remember it:

* Keeping track

[2017-08-31 17:31] danielballan opened #297 "Create 0.9 tag/release."

[2017-09-01 13:50] jrmlhermitte opened #299 "slower queries?"
This might be just me, but I figure the more documentation the better so I'll write it.

A query like this:
[code]
returns a result near instantaneously.
However, a restreaming as such:
[code]
hangs for a long time (5 min or more).

Any idea why this may be happening?

I'm using databroker version 0.9.0+16.gd78bbfa
The broker object is constructed as follows:
[code]

[2017-09-01 13:53] danielballan commented on #299
It looks like `check_fields_exist` is applied to all the headers in a separate loop, breaking the laziness of restream.

[2017-09-01 15:54] jrmlhermitte opened #302 "odd NoneType behaviour"
I can't figure out what is wrong, nor why this is occurring for now, but I'll document as best as I can for now. Seems to happen only for the specific case I show here.
[code]
gives:
[code]

However, with @danielballan 's new PR, it works just fine (PR #300):
[code]

It seems to me that @danielballan 's fix may be skipping this one element? I am a little confused, and this may be an error on my pa

[2017-09-01 16:38] tacaswell commented on #302
Can you drop into `%debug` and walk up the tree to sort where we are trying to iterate on a `None`?

I suspect that there is a run without a `Stop` document and we have waffled on if a missing stop document should be `None` or `{}` by default.

[2017-09-01 17:49] jrmlhermitte commented on #302
yep, i think you're right:
[code]
so should it be `{}` by default as you said?

[2017-09-01 17:51] jrmlhermitte commented on #302
oh and the full backtrace:
[code]

[2017-09-01 17:55] tacaswell commented on #302
A quick fix is to change line 846 to `stop=self._db.prepare_hook('stop', stop or {}),` but it maybe should be fixed deeper down in HeaderSource

[2017-09-01 18:03] jrmlhermitte commented on #302
yeah, and a test should definitely be added. I could start a PR a little later if it helps. Thanks for the support!

[2017-09-01 19:18] tacaswell commented on #290
I am even on the fence of keeping `fill_events` as public API.  The main argument in favor of it is being lazy about filling events based on some other value in the event (the use case of "I only want some fraction of my events" can be handled by adding better slicing options to the the event retrieval methods).

The other relevant change here is that we stopped de-referencing the descriptor docum

[2017-09-01 19:55] CJ-Wright commented on #290
The use case I'm coming from is that I'd like to fill single events on the other side of a callback so that the pipeline is always working from live data rather than tokens. I could (and currently do) stash the descriptor, but it would be nice to not have to.

[2017-09-01 20:46] tacaswell commented on #290
Why?

[2017-09-01 20:47] CJ-Wright commented on #290
Why what exactly? Why am I filling documents?

[2017-09-01 21:07] tacaswell commented on #290
why do you have single event documents without an associated descriptor?

[2017-09-01 21:14] CJ-Wright commented on #290
I am pulling the events from the RunEngine, and I'm not currently stashing their descriptors (although I think I changed that at one point). More generally, I would like to fill the events with a `map` node, however the `map` node may not have access to the descriptor information (since we are currently fairly adamant about computation being done on events, this may change in the near future thoug

[2017-09-01 21:27] tacaswell commented on #290
ok, so either your map node needs to do the search or you need to pass in the descriptors though.

I am :+1: on removing `fill_event` for 1.0.

[2017-09-01 21:30] CJ-Wright commented on #290
just as an fyi, I wrote a dedicated node to do this so it can stash descriptors to it's heart's content. I was just hoping to have a more elegant solution (which `fill_event` kinda provided), but this is fine.

[2017-09-01 21:31] #290 closed, assigned to nobody

[2017-09-02 03:47] jrmlhermitte commented on #302
discussion moved to #303

[2017-09-06 23:22] #297 closed, assigned to danielballan

[2017-09-10 21:00] ambarb opened #304 "Should empty streams give error?"
Scan 82996 has `sd.monitor = []`.  If the `stream_name` is not found, then should db give an error?

[code]

[2017-09-11 12:17] danielballan commented on #304
It's a judgement call. By returning an empty DataFrame instead of raising an error, we allow usages like

[code]

where it's OK if not all of the last 100 runs had that stream.

[2017-09-11 12:37] ambarb commented on #304
Good point.  But if a batch script tanks because one scan is missing the monitor stream, then atleast it would be immediately obvious.  However, I think it is worth a discussion among interested parties.

Dan Allan <notifications@github.com> wrote:

It's a judgement call. By returning an empty DataFrame instead of raising an error, we allow usages like

db.get_table[db[-100:], stream_name='fccd_te

[2017-09-11 12:50] danielballan commented on #299
Fixed in #300 and merged in time for v0.9.1.

[2017-09-11 12:50] #299 closed, assigned to nobody

[2017-09-11 12:51] danielballan commented on #265
I'm waiting on this because @tacaswell has plans to change the way we handle multiple event sources. Not worth documenting this yet just to rewrite it in two weeks.

[2017-09-11 15:39] ambarb commented on #304
@danielballan Im thinking that your original line of thought is correct now.  It maximizes flexibility.

However, maybe something that is a higher level function to get all of the monitor stream data would be appropriate to add a True or False for raising an exception if a monitor stream does not exist.

[2017-09-11 15:42] danielballan commented on #304
Yeah, some optional flag like `not_empty`, False by default, could work.

[2017-09-13 18:42] jrmlhermitte opened #307 "Getting events from header is awkward (db[uid]['events']() )"
The following:
[code]

I feel that may be a mistake? Should it not be (minus the `evts = evts()` step):
[code]
Thanks!
I am using `0.9.3+0.gcae5bb2.dirty`

[2017-09-13 19:04] danielballan commented on #307
The intended usage is `hdr.events()`. See [Header API documentation](https://nsls-ii.github.io/databroker/api.html#the-header-object) and [`header.event()`](https://nsls-ii.github.io/databroker/_as_gen/databroker.Header.events.html#databroker.Header.events) in particular.

Header uses the `attr.s` library which to my taste is a little bit more magic than we need for `Header`. @tacaswell, do you wa

[2017-09-20 12:26] tacaswell commented on #265
In general I agree with @ordirules about showing all of the details, but in this case I think leading with `named` is the right path.  Mid-to-long term users should never construct a `Broker` instance explicitly, doing it through a level of indirection of `named` can let us change the location, type, or implementation of the broker without changing user code.  For example imaging having `Broker.na

[2017-09-20 12:33] tacaswell commented on #307
This isn't `attr.s` fault, but mine.  By default `attr.s` does not pretend to be a dictionary for back compatibility, but `Header` does.  Instead of only allowing `{'start', 'stop', 'descriptors'}` through `__getitem__` it is just getting bounced straight to `__getattr__`.  `hdr['events']` should have raised a `KeyError`.

I have a fix for this on my desktop at work I'll push when I get in.

[2017-09-20 18:36] danielballan opened #309 "Allow internal usage of dot"
I noticed this a couple days ago but neglected to create an issue. Reported by @stuwilkins.

<img width="1127" alt="pastedgraphic-1 1" src="https://user-images.githubusercontent.com/2279598/30661118-f9e06de8-9e10-11e7-866e-328bc836f6a1.png">

[2017-09-22 19:21] tacaswell commented on #304
I would rather put some helper methods on the `Header` object as `h.has_stream(...)` or make it the job of the consumer to raise of the return dataframe is empty.

[2017-10-16 21:05] danielballan commented on #304
Do we want a special method `h.has_stream(name)`? I think `name in h.stream_names` is good enough.

[2017-10-16 21:06] danielballan commented on #302
Closed by #303.

[2017-10-16 21:06] #302 closed, assigned to nobody

[2017-10-16 21:14] #309 closed, assigned to nobody

[2017-10-17 14:51] tacaswell commented on #304
`name in h.stream_names` is good enough

[2017-10-17 15:10] stuartcampbell commented on #304
I think the `h.has_stream(name)` would be a nicety but not essential.  Maybe an issue for a new starter ?

[2017-10-17 15:42] danielballan commented on #304
I wouldn't argue strongly against it, but I would point out that Python had a similar method -- `dict.has_key(name)` -- and [removed it in Python 3, recommending the `in` keyword instead](https://docs.python.org/3.1/whatsnew/3.0.html#builtins). Would you open an issue if you think this would be nice to have anyway, @stuartcampbell? I'll close this one.

[2017-10-17 15:42] #304 closed, assigned to nobody

[2017-10-18 15:54] danielballan commented on #188
@CJ-Wright As a heads up -- I'm not sure if this was still on your back burner, but we received more user requests for this feature, so I took care of it myself in https://github.com/NSLS-II/bluesky/pull/852

[2017-10-18 15:54] #188 closed, assigned to nobody

[2017-10-18 16:47] CJ-Wright commented on #188
@danielballan Thanks for the heads up. My back burner is the size of the Yellowstone caldera at this point so I would not anticipate anything put there getting developed in the near future.

[2017-10-23 19:29] jrmlhermitte opened #313 "StopIteration upon FileNotFoundError?"
The following will yield a StopIteration after retrieving an event document, stopping the loop prematurely:
[code]

What happens is that I encounter a `FileNotFoundError`. If anything is raised in a generator, a `StopIteration` follows its next call. Should there perhaps be a more gentle way to do this? Perhaps instead just ignoring the rest of this stream and issuing a stop document?

Or is there

[2017-10-23 20:03] jrmlhermitte commented on #313
we'll do this:
[code]

curious if that is recommended or not.

EDIT: removed `raise StopIteration`

[2017-10-23 20:54] tacaswell commented on #313
Why do you want to keep going if the data can not be retrieved?

[2017-10-23 21:03] tacaswell commented on #313
The correct way to bail on a geerator early is via `return`  https://www.python.org/dev/peps/pep-0479/

[2017-10-23 21:07] jrmlhermitte commented on #313
All I don't want is that one bad `start`->`stop` event stream to stop the whole event stream.

when a bad `event` comes through, I still do want the `stop` to go through (or a new `stop` pointing to the right `start`). The snippet above also allows `descriptor` to still go through. But probably that should be prohibited as well.

thanks, I'll remove `raise StopIteration`

[2017-10-23 21:21] danielballan commented on #313
Could you use try/finally get the 'stop' document out before bailing with `return`?

[2017-10-23 21:29] jrmlhermitte commented on #313
I see the confusion. This is my mistake, here is what I intended to do:
[code]
sorry about that. Does this make sense now? (I am keeping previous code for understanding)

[2017-10-23 21:40] danielballan commented on #313
There is analogous code in the RunEngine that we can borrow to address this. If a RunEngine encounters an Exception, it passes it to the plan to allow the plan an opportunity to swallow it before reraising it and killing operation. I think would need to do something similar involving `proc_gen` to enable outer layers like your to opt-in to ignore Exceptions.

I write this while sitting under two h

[2017-11-15 21:42] jrmlhermitte commented on #307
as of now `hdr['events']` still doesn't raise `KeyError`.
version : 0.9.3+16.g3841b60.dirty

if pushed we can close this issue.

[2017-11-16 02:38] tacaswell commented on #307
I must have never pushed that branch...

[2017-11-17 21:48] #307 closed, assigned to nobody

[2017-11-22 18:05] danielballan opened #320 "start_time, end_time -> since, until?"
`Broker.__call__` generally passes keyword arguments through to build to a Mongo query, but it gives special significance to `start_time` and `end_time` (if present) to build a time-based query. These names are confusing because they suggest the start and end of the _run_, when in fact we are filtering on RunStart time alone. How about we use "since" and "until" instead, borrowing these names from

[2017-11-22 18:18] mrakitin commented on #320
Sounds reasonable to me.

[2017-12-19 15:40] danielballan commented on #273
attn @jrmlhermitte While you're thinking about sentinels....

The `headersource` and `eventsource` (formerly metadatastore) APIs should have sentinels too. It occurs to me that, when we address #322, we might then say that the `version` in these sentinels refers to the major version number of the event-model package.

[2017-12-19 21:12] jrmlhermitte opened #325 "extend config to allow for root_map"
currently, configuration allows for the setting of many parameters, including the file handlers.
It would be nice to have a feature that allows the setting of a global `root_map`

reference : http://nsls-ii.github.io/databroker/configuration.html

[2017-12-19 21:12] jrmlhermitte commented on #325
@tacaswell @danielballan @mrakitin

[2017-12-19 21:14] danielballan commented on #325
relevant to @CJ-Wright's interests as well -- I wonder if we can tempt him to hammer out a quick PR ;-)

[2017-12-19 21:24] CJ-Wright commented on #325
I don't know if any of my PRs in recent history have been *quick*. I will not be able to get to it this week most likely, I'm doing a deep dive in SHED.

[2017-12-21 20:23] jrmlhermitte opened #327 "version sentinel documentation"
Right now, we explain the version sentinel but we don't show a way to test.
http://nsls-ii.github.io/databroker/creating.html

we should add something. i suggest to add inserting and checking a resource

[2017-12-29 18:26] danielballan opened #330 "Document 'root' and export functionality."
Following up on #329, we should document the rationale for the `root` parameter in `insert_resource` and also document export.

[2018-01-02 15:08] jrmlhermitte commented on #274
closed by #324

[2018-01-02 15:08] #274 closed, assigned to nobody

[2018-01-02 15:42] jrmlhermitte opened #331 "fix sphinx warnings"
@danielballan 's comment:
"About those sphinx warnings: Header provides some of the standard dict methods (keys, values, items, etc.). We should add an autosummary table to document those as well."
from [here](https://github.com/NSLS-II/databroker/pull/324#issuecomment-352750803)

[2018-01-11 23:26] jrmlhermitte opened #334 "Duplicate DuplicateHandler exceptions"
We should remove one. Here they are:
https://github.com/NSLS-II/databroker/blob/master/databroker/assets/handlers_base.py#L27
and
https://github.com/NSLS-II/databroker/blob/master/databroker/assets/base_registry.py#L19

Probably remove the former. Noticed this when trying to catch a DuplicateHandler exception, and not catching it!

[2018-01-16 14:01] #334 closed, assigned to nobody

[2018-01-19 13:53] jrmlhermitte commented on #325
closed by #332

[2018-01-19 13:53] #325 closed, assigned to nobody

[2018-02-06 16:17] CJ-Wright opened #342 "`header.documents(fill=True)` is caching data?"
My understanding of the documents being held in the generator was to prevent the data from taking over all the memory. However, when I load up 54 images via a for loop it seems that my memory piles up, to the tune of 7GB just looping through the documents. Is this operating properly?
[code]
I think (I used real data to produce this) this databroker can be created by
[code]

[2018-02-07 02:30] jrmlhermitte commented on #342
could this be related to what happened in #299? @danielballan

[2018-02-08 15:23] tacaswell commented on #342
Check the handlers are not caching the data.

[2018-02-08 16:41] CJ-Wright commented on #342
This is using the [`NpyHandler`](https://github.com/NSLS-II/databroker/blob/eace7fc9c77a2dcef8396aad82ccc1ccc30d655a/databroker/assets/handlers.py#L407) which looks clean to me, although as second set of eyes would be helpful.

[2018-02-08 17:03] danielballan commented on #342
I'm on it.

[2018-02-08 17:09] danielballan opened #343 "Make the 'temp' Broker support monitoring"
Because sqlite does not support threading, it's not possible to use the sqlite-backed header source (which is the one we use for `Broker.named('temp')`) with any plans that involve monitoring. The RunEngine emits documents on a background thread, and it's dispatcher tries to pass them to `Broker.insert` on that same background thread, which silently fails and just drops the data on the floor.

I _

[2018-02-08 17:56] danielballan commented on #342
Generated the data and verified that it seems to all be there:

[code]

[code]

Ran your script that _should_ stream the data through without accumulating refs in memory

[code]

Checked [memory usage](https://stackoverflow.com/questions/938733/total-memory-used-by-python-process):

[code]

That's not so high, nowhere near 7 GB.  But, granted, this check was performed _after_ the printing was all

[2018-02-08 17:58] danielballan commented on #342
P.S. Thanks for this really good SSCCE! All I had to change was `db_path = '/media/christopher/DATA/Research/Columbia/pal/db'` to `db_path = /tmp/cj` to get it running on my machine. It made it very easy to try to help.

[2018-02-08 18:25] CJ-Wright commented on #342
Edit: I take that back (I was running with`fill=False`).
Here is what i ran to make the databroker:
[code]
(Note only ten images)

Here is what I ran to check the data:
[code]
and the output
[code]
Note that while the memory outlay is small it is increasing.
I'm running a databroker installed from source at commit 3c8ce3fee0d8981786ebe94ca27fe2b15fbf0117

~~Interesting, so I ran my example and got

[2018-02-08 18:33] danielballan commented on #342
"Got the cache"?

[2018-02-08 18:36] CJ-Wright commented on #342
Sorry got memory increasing

[2018-02-08 18:51] danielballan commented on #342
When I plot `usage_monitor`, I do not see memory increasing:

![process-mem-usage](https://user-images.githubusercontent.com/2279598/35991974-e7cb72d0-0cd6-11e8-8cf9-954759012fef.png)

This looks like what I would expect: the somewhat opaque action of Python garbage collection is generally keeping the memory usage low, with occasional jumps. I'm not convinced there is a problem in databroker (yet)

[2018-02-08 18:58] CJ-Wright commented on #342
I added the collector
[code]
Same result
![figure_1-21](https://user-images.githubusercontent.com/6740689/35992371-1ce6353a-0cd8-11e8-899a-95ec52ddb0e1.png)

[2018-02-08 19:02] danielballan commented on #342
What could be different about what you are doing and what I am going? Relevant info:

* I am using the same commit of databroker that you are.
* I'm running the code on my MacBook.

I have not closely read the second lengthy example that you posted; I'm still working from the first example (with `usage_monitor` added and the `db_path` aimed at tmp). Have you changed something important about what

[2018-02-08 19:09] CJ-Wright commented on #342
Yea, sorry the HDF5 stuff doesn't matter.

[2018-02-08 19:13] CJ-Wright commented on #342
Same result in `/tmp/temp_db`
160.690176 MB
177.434624 MB
194.162688 MB
211.103744 MB
227.807232 MB
244.506624 MB
261.206016 MB
277.909504 MB
294.608896 MB
311.308288 MB

[2018-02-08 19:37] danielballan commented on #342
To ensure that we are doing exactly the same thing, I have consolidated your example into one Python script that generates a fresh (randomly named) database each time -- and cleans up afterward -- and generates a PNG of the memory usage plot.

https://gist.github.com/danielballan/2a474eee53a52fcd8716d2fa451bd4a5

Example result on my system with this Python:

[code]

![mem-usage-tmpk3v2avhf](https

[2018-02-08 19:49] CJ-Wright commented on #342
I ran your script (with two modifications (I changed the number of images to 10 and the dtype to 'uint16') because I ran out of memory when writing to temp).
Here is my graph
![mem-usage-tmp6bn4xq7f](https://user-images.githubusercontent.com/6740689/35994674-2ca6cdb6-0cdf-11e8-8fbb-f36eba7118c1.png)

This is weird I don't know if this breaks anything out at the ring. It would be interesting to run

[2018-02-08 20:10] danielballan commented on #342
Which version of Python? Also, I suggest decreasing the array size and increasing the number of images, just to be sure you are giving the garbage collector time to catch on.

[2018-02-08 20:24] CJ-Wright commented on #342
py3.5 I will try to reduce the size and run again.

[2018-02-08 20:26] danielballan commented on #342
It is probably also worth checking whether gc was improved between 3.5 and 3.6.

[2018-02-08 20:32] tacaswell commented on #342
you can try throwing some explicit `gc.collect()` calls in too?

My understanding is that things should be collected immediately when their reference counts hit 0.

[2018-02-08 21:23] CJ-Wright commented on #342
Similar results with the gc. (note there are 55 images at default numpy dtype at size (200, 200))
![mem-usage-tmpjsgd9tnj](https://user-images.githubusercontent.com/6740689/35998977-4f37cfda-0cec-11e8-913e-3767d40e425d.png)

Is there a good way to ask an object how many references it has/where those references are?
Edit: I'll use the  gc reffers to see if something is going on https://docs.python.

[2018-02-08 21:30] danielballan commented on #342
http://bfy.tw/GVHX 😈

[2018-02-08 21:30] danielballan commented on #342
Ah, I see you got there yourself and edited your last comment. Good work.

[2018-02-08 21:44] CJ-Wright commented on #342
@tacaswell and @jrmlhermitte can you try to reproduce? Tim and I have been able to reproduce this. (please try to run with both the normal sized and smaller images since I can't hold all the images at once)

[2018-02-08 21:45] danielballan commented on #342
Have you tried in a Python 3.6 env?

[2018-02-08 21:45] CJ-Wright commented on #342
@chiahaoliu  ran in py36

[2018-02-08 22:18] jrmlhermitte commented on #342
same for me using your gist.
Only modification i made is:
[code]

![memusage](https://user-images.githubusercontent.com/705366/36001312-ec270b4c-0cf3-11e8-9bb5-ccb409a47523.png)

[code]

[2018-02-09 03:23] tacaswell commented on #342
![so](https://user-images.githubusercontent.com/199813/36010207-4583fb9e-0d1e-11e8-85ea-fd8e65b83b44.png)

[code]

[2018-02-09 04:03] tacaswell commented on #342
The issue is that at the very very bottom the sqlite `find` https://github.com/NSLS-II/databroker/blob/3c8ce3fee0d8981786ebe94ca27fe2b15fbf0117/databroker/headersource/sqlite.py#L118-L144

is not lazy.

The real question is why this was working for @danielballan !

Applying the patch from https://github.com/NSLS-II/databroker/pull/344 gives

![so](https://user-images.githubusercontent.com/199813/3

[2018-02-09 12:25] danielballan commented on #342
Perhaps memory usage does not include swap usage and I was effectively plotting the OS moving data to swap space.

[2018-02-09 15:54] jrmlhermitte commented on #342
wow, @tacaswell nice catch!!!!

@danielballan not surprising that Apple hides their information :-P

[2018-02-09 19:38] #342 closed, assigned to nobody

[2018-02-09 19:49] danielballan commented on #342
Closed by #344.

[2018-02-13 16:46] CJ-Wright opened #345 "Stash query information into Broker or Results"
Would it be possible to stuff the query information (the actual kwargs and the filters) into the `Broker` or the `Results`? This would enable users to get back the query that they ran to get a given result.

[2018-02-13 16:46] CJ-Wright commented on #345
Attn: @chiahaoliu @sbillinge

[2018-02-13 18:05] tacaswell commented on #345
Definitely not on the broker (as that gets into all sorts of 'how long until we invalidate this' questions).  The broker currently has a `prepare_hook` function (see https://nsls-ii.github.io/databroker/api.html?highlight=prepare_hook#advanced-controlling-the-return-type) which you could set from the client to stash the query on the returned object.

What is the motivation for this?  Data should b

[2018-02-13 19:31] CJ-Wright commented on #345
This is for creating `Bundles`. In the bundle creation it would be nice to be able to store how the multiple headers were gotten (the query sent to the databroker). Although this could be more generally applicable, since some times you'd like to re-run a query, eg after more data came in, and it would be handy to say "I liked this query, how did I get it/how can I get more like it".

[2018-02-13 19:34] sbillinge commented on #345
here is my UC:
1) experimenter has somewhat complicated data.  For whatever reason she only wants to propagate every fourth image, and eliminates all images tagged with "bad"
2) experimenter spends a lot of time creating a really precise filter that gets just exactly what she wants
3) experimenter saves the filter and goes home to bed, exhausted.
4) experimenter comes in the next day and wants to

[2018-02-14 14:54] danielballan commented on #345
Good use case. I have been that "experimenter" myself! Before we jump to a solution, I'd be interested to understand the problem a little better.

Is the filter generated by some GUI, or programmatically?

What problem is the stashing the filter in a _database_ intended to solve? For the sake of argument, could it be stashed locally either by the GUI (`~/.config/my_awesome_gui/filters/my_awesome_f

[2018-02-14 15:56] tacaswell commented on #345
I gravely misunderstood what @CJ-Wright was asking initially :sheep: .

@danielballan 's suggesting of starting with a json or python representation seems like a good place to start.  This also suggests that along side the broker we need a first-class `Query` object.

Simon's UC also greatly blurs the lines of how we think about the things coming out of the data broker (the difference between sele

[2018-02-14 16:13] CJ-Wright commented on #345
:+1: on the first-class `Query` object

[2018-02-14 16:17] danielballan commented on #345
Just to be sure we're on the same page -- would a `Query` encapsulate a query over Headers -- i.e. a dict --  and a query for (a subset of) Events in those Header(s)?

[2018-02-14 16:26] tacaswell commented on #345
Once you start to get to the second it gets really messy really fast as you will want to put in conditionals on the slicing based on what is in the header or the data.

I think to start with we should have a Query object that is just a heavily managed dict that provides `&` and `|` operations and knows how to turn it self into some nice serialization (json)? and into the input that the Broker need

[2018-02-14 16:31] CJ-Wright commented on #345
I think that part of this line blurring can be helped by combining `Query` objects and pipelines. If the `Query` object is handed to the pipeline in some way that it could understand then we could write down somewhere exactly how you asked for the multi-header results. At this point the data could be bundled together into one "header" which contains metadata from all the incoming headers and inter

[2018-02-14 16:53] sbillinge commented on #345
So a few comments here, in somewhat random order.
1) on the local vs database stashing of the info, I am interested in extending the event model and pipelining to data analysis for provenance purposes.  So I would like to create some kind of analysis tree, get it to some point where I do a deliberate export (🥇 ), then have someone else come along and get the DE from it s doi, and then rerun it and

[2018-02-14 17:00] sbillinge commented on #345
btw, I am spending a lot of time these days working with records databases for my group activities....grants, people, appointments etc..

Something that I am enjoying using is making simple filter functions and then chaining them.  For example, I want all my grant applications that are (current AND funded) so I do this by:
`grdb = load_up("grdb")`
`use1 = is_current(grdb)`
`use = is_key_has_value(

[2018-02-14 17:20] tacaswell commented on #345
@sbillinge you should have a look at https://toolz.readthedocs.io/en/latest/api.html which provides functional (streaming when possible) primitives for many of those operations along with https://docs.python.org/3.6/library/itertools.html and the built in `filter` https://docs.python.org/3.6/library/functions.html#filter

[2018-02-14 17:36] tacaswell commented on #345
I am not sure we want to hand 'query' like things into pipelines as then the pipeline code would have to know what to hand that query to!

From the PoV of provenance, why does the query used to find the headers matter?

One of the goals of the Document model is to do as much of the 'correct' bundling at collection time and avoid having to do large amounts of multi-start merging operations at the t

[2018-02-15 19:24] #320 closed, assigned to nobody

[2018-03-02 19:45] CJ-Wright opened #352 "Add filter overwrites existing filters"
Current behavior

[code]

Expected behavior
[code]
Edit: typo

[2018-03-02 19:47] CJ-Wright commented on #352
Attn: @sbillinge

[2018-03-02 19:52] mrakitin commented on #352
Did you type `exprimenters` correctly in the second case?

[2018-03-02 21:33] CJ-Wright commented on #352
Yes, sorry I'll edit

[2018-03-02 22:39] mrakitin commented on #352
I see, thanks. I thought the original commands were run with this typo as well, that's why you may have had the missing elements.

[2018-03-03 22:20] danielballan commented on #352
How does MongoDB interpret the query `{'experimenters': {'Emil', 'CJ'}}`?

[2018-03-03 22:21] CJ-Wright commented on #352
I guess I was hoping for an or statement there. (I haven't tested the expected outcome)

[2018-03-03 22:28] danielballan commented on #352
I'm not sure that's what you'll get. Do you think we can safely assume that the expected behavior is `$or`? I generally expect filtering to compose as `$and`. I'm open to making `add_filter` more magical, but I'd like to see a thorough exploration of the trade-offs.

[2018-03-03 22:47] CJ-Wright commented on #352
`$and` is reasonable. We ran into this during a demo session with @sbillinge, so he might have some thoughts on the expected filtering.

[2018-03-09 17:01] tacaswell commented on #352
There is an 'obvious' merge for this case (although, I'm not sure if you are trying to ask "show me all of the scans that 'CJ' or 'Emil' were involved in" or "show me only the scans where both 'CJ' and 'Emil' were involved") and it only gets worse for more complex queries.  I think to do the merging of filters _well_ is more complexity that we want to take on right now.

[2018-03-23 17:17] ambarb opened #353 "ENH: add EGU key to pandas data table"
`db[-1].table()[hdr.start.motors[0]]` returns the motor positions associated with the particular scan.

for `my_motor = db[-1].table()[hdr.start.motors[0]] `, `my_motor.xname` returns the name of the motor assciated with the data frame.  I am using this to auto label the x-axis instead of modifying code in verbatim.  However, I still have to change the unit label.  Since engineering units are capt

[2018-04-16 21:21] CJ-Wright opened #354 "expose databroker name"
Would it be possible to expose the databroker's name after the object has been created?

[2018-04-19 11:40] jrmlhermitte commented on #354
which object? Do you mean
[code]
?
(where the second line is not implemented)

[2018-04-19 13:00] CJ-Wright commented on #354
Exactly.

[2018-05-09 19:42] #354 closed, assigned to nobody

[2018-05-19 22:50] #343 closed, assigned to nobody

[2018-05-19 23:01] danielballan commented on #343
attn @CJ-Wright I think I recall that you were bitten by this issue once. The fix will be in v0.11.1, to be tagged tonight or tomorrow.

[2018-05-24 18:22] danielballan commented on #253
@CJ-Wright Belatedly, you had a fair point. The asset refactor make this much easier to do. See example: https://gist.github.com/danielballan/24a1e6c055fe24d764462169727dd89f

Once we figure out how to parameterize that nicely, something like it will go into suitcase I think.

[2018-05-24 18:23] danielballan commented on #189
I still think this is a good idea but not urgent so I'm removing it from a milestone.

[2018-05-24 18:26] danielballan commented on #235
The main blocker on this is ensuring that all handlers (including those floating around in IPython profiles) implement `get_file_list`.

[2018-05-24 18:30] CJ-Wright commented on #253
What do you mean "parameterize that nicely"?

[2018-05-25 13:57] danielballan commented on #253
My example hard-codes assumptions about how to layout the data in the HDF5 file. We have make _some_ assumptions at the level of the Python code, but we'll probably let users configure it a _little_ more than we do in that example.

[2018-05-25 16:20] danielballan commented on #253
Coming back to the original question:

Now that all "assetstore records" (datum and resource documents) _do_ go through `db.insert`, the only remaining issue is copying files to a second location. Some of the `db.export` code should be factored out to make that easier.

[2018-05-25 21:52] danielballan commented on #206
Hasty notes on a design conversation, will expand this into a DBEP and/or a PR later.

## Slicing and  Chunking

* `data()`, `table()`, and `events()` should each pick up `slice` and `chunks` (or should we call it `chunk_size`?) parameters.
* `table()` will return one DataFrame is `chunks=None` (its current behavior). It will return a generator of DataFrames with length `chunks` if `chunks` is an

[2018-05-27 21:51] CJ-Wright commented on #206
Does this mean that headers will no longer know where they came from?

[2018-05-30 15:08] danielballan commented on #206
As we have now factored the databroker into a notion of a "header source" and "event source", the phrase "know where they came from" isn't precise enough have a yes or no answer. Brokers may hold a reference to their event sources but (perhaps) not to their header source.

[2018-05-30 15:25] tacaswell commented on #206
I think a better phrasing would be "headers know how to get their children"

[2018-06-12 15:12] CJ-Wright opened #365 "hdr.documents doesn't return the documents in their timestamp order"
It seems that `hdr.documents()` doesn't return the documents in their timestamp order? Is this correct? Would it be possible for the databroker to report the documents in the same order they came out of the run engine?

[2018-06-15 11:47] danielballan commented on #365
If true it's a bug. Is this easy to reproduce?

[2018-06-15 11:49] CJ-Wright commented on #365
I haven't gotten a chance to write code producing this (I've been doing experiments all week) I'll try to write some ASAP.

[2018-06-16 16:54] tacaswell commented on #365
I think we emit documents stream-by-stream, rather than mixed https://github.com/NSLS-II/databroker/blob/9af7e2f93c9a844dafaf6fec05380fd8b90ef55b/databroker/eventsource/shim.py#L93-L100

This also highlights a deeper bug in this code as that if you are actually hitting multiple event sources you will may get the start document multiple times...

To do this right we need to interlace across all Eve

[2018-07-10 16:26] jrmlhermitte opened #370 "What should we do when we have bad descriptors?"
Right now:

[code]
will raise a key error if the descriptor doesn't contain matching keys.

The 'data' key of this event is:
[code]

the 'data_keys' entry (in the descriptor) is:
[code]

Should we be gentler and have `next(events)` not choke but rather return `None` or `StopIteration` with a warning?

Note that this data is likely gone from a bluesky scan gone horribly wrong.

Note this was encoun

[2018-07-15 14:52] tacaswell commented on #370
I think failing hard is the correct behavior.  "There is no data" is very different than "This data is inconsistent".

[2018-07-16 12:34] CJ-Wright opened #371 "Support dereferencing in start documents"
Would it be possible to support dereferencing external data in start documents?

The idea here would to have external databases (eg a sample database) which would hand an id and some reference to itself to the databroker and upon request the databroker could replace the id with the actual data from the database.

This would be very helpful for at least two use cases:
1. Adding information from a s

[2018-07-16 16:34] stuartcampbell commented on #371
Does the `ext` do what you want ? http://nsls-ii.github.io/databroker/whats_new.html#enhancements

[2018-07-17 14:06] danielballan commented on #371
Fortunately, databroker already has all the pieces you need to give this a try. Use `external_fetchers` (see [the release notes](https://nsls-ii.github.io/databroker/whats_new.html#enhancements) -- we have intentionally not documented it further in case we need to rip it out). Then write a function that takes in a Header and does the dereferencing.

[2018-07-17 14:06] danielballan commented on #371
Due to a stale browser tab, I didn't see @stuartcampbell's comment until mine posted. We are on the same page. :- )

[2018-07-17 14:13] CJ-Wright commented on #371
How do I get that de-referencing when data is going into a callback from the run engine?
Edit1:
Especially since we might not have a run stop document for a while.

Edit2:
Having looked at the source code I'm not certain this does what I need.
1. The data is reported external to the document model. Everything I (we?) have built so far relies on the document model so going out of the document model

[2018-07-17 15:01] danielballan commented on #371
Our code solves the second part. You have to solve the first part -- shoving the relevant ID into the start document.

[2018-07-17 15:03] CJ-Wright commented on #371
I think I can provide the ID to the start document without issues.

[2018-07-18 02:53] tacaswell commented on #371
This sounds more like wanting an extra `EventSource`?

The stop may be `None`.

One fun use case of this would be to use a function that when you access the raw data-broker goes and gets a list of all the derived datasets!

We could put `ext` into the start document, but that would require squatting one more key.

[2018-07-18 11:21] CJ-Wright commented on #371
I don't know if it should be an event source or not, but the rest sounds good.

[2018-07-23 18:26] jrmlhermitte opened #373 "Search through descriptors"
Should we allow search functionality through descriptors?
The reason is that sometimes a user may acquire data that should be saved in a descriptor, not start document. However, since only starts are searchable, this might tempt users to move such configuration data into the start.
@chiahaoliu and @CJ-Wright  requested this.

[2018-07-23 21:07] danielballan commented on #373
Currently, the right approach is to iterate through all possibly-interesting Headers and do the "search" in Python. This should scale fine in practice for the next year or so at XPD, @CJ-Wright @chiahaoliu, while we sort out a way to push this down a layer. There is no technical issue; it's just a matter of deciding on an API and adding the requisite tests. We should wait for the next round of dat

[2018-07-26 19:35] CJ-Wright commented on #371
Would it be possible to attach a `ext` factory to the databroker so that every header that came out of that databroker had `ext` attached? That way we don't need to take every header and attach `ext` externally.

[2018-07-30 16:14] danielballan commented on #371
I think what you have described is exactly how `ext` already works. Is it? If not, please clarify.

[2018-07-30 16:50] CJ-Wright commented on #371
I thought the ext was defined in a per header rather than per broker basis?

[2018-07-30 17:51] danielballan commented on #371
The "`ext` factory" is attached to the Broker, and thereafter all Headers returned by that Broker have contents in `header.ext`. (Try it!)

[2018-08-08 21:32] tacaswell opened #374 "Add script to generate archiver VCR files"
As discussed in  #359, we need to be able to regenerate the VCR files on-demand independent of an particular NSLS-II beamline.

The steps involved are described at https://github.com/NSLS-II/databroker/pull/359#issuecomment-411070706 and are mostly mechanical.

At ideally this will be a script to stand up a local Archiver, a local IOC, and then populate the Archiver with fixed data.

[2018-08-29 21:43] tacaswell commented on #98
This rebase is terrible due to renaming `core.py` to `_core.py`, as it still needs tests, punting.

[2018-11-07 15:35] danielballan commented on #370
Agreed.

[2018-11-07 15:35] #370 closed, assigned to nobody

[2018-11-12 22:18] prjemian opened #376 "need better defense against import of unacceptable data_keys"
Using the `ophyd.scaler.ScalerCH`, which configures data keys according to the text a user has given a scaler channel in EPICS, it is possible to have data keys with unacceptable values, such as from [this list](https://github.com/APS-3ID-IXN/ipython-s3blue/issues/2):

[code]

Since these data keys already exist in the databroker, we have to fix the code that imports them.  Presently, `databroker.

[2018-11-12 22:22] prjemian commented on #376
A robust defense would be to convert *any* unacceptable characters.  Something such as this regexp: `[A-Za-z_][\w_]*` (includes upper or lower case letters, digits, underscore - but not starting with a digit).

[2018-11-12 22:25] prjemian commented on #376
This is the end of the Exception trace:

[code]

[2018-11-12 22:48] tacaswell commented on #376
Ah, this is a limtitation the sqlite that is getting us here?

We have a limitation on `.` for mongo-related reasons.

[2018-11-12 23:51] prjemian commented on #376
This is the code to pick safe names but we need to catch the descriptors and the events, right?

[code]

Has this output:

old                  |        new
---------- | --------------
NFS, delayed         |        NFS__delayed
NFS, total            |       NFS__total
NRIXS dlyd-sum      |         NRIXS_dlyd_sum
NRIXS tot-sum         |       NRIXS_tot_sum
NRIXS, delayed1        |      NRIXS__delay

[2019-01-02 17:03] CJ-Wright opened #382 "Remove matplotlib dep in databroker core"
It seems that matplotlib is a requirement to load up the databroker. This causes a bunch of issues where X and other graphics servers are  tenuous (CIs, ssh without X, su + ssh, etc.) It would be great to remove the MPL requirement from databroker.

[2019-01-05 00:37] danielballan commented on #376
We already check that the keys in Events match those in an EventDescriptor (and we mint a new EventDescriptor as needed). Therefore, validating the data_keys in the EventDescriptor is sufficient to effectively validate both.

[2019-01-07 21:43] tacaswell commented on #376
On a bit more consideration, @prjemian exercised an sql injection attack....

[2019-01-07 22:14] prjemian commented on #376
... using content from databroker

[2019-01-29 21:51] ronpandolfi opened #389 "Update sentinel installation docs"
Current [docs](http://nsls-ii.github.io/databroker/creating.html) do not reflect current broker object internals, resulting in error:

[code]

[2019-01-30 16:18] #389 closed, assigned to nobody

[2019-02-08 15:57] licode opened #391 "hdr.table with fields"
In the current implementation of databroker, hdr.table or hdr.events function with fill=True and fields=[a,b,c] works as the following:

1. First fill all the data if their type is external
2. Then select data_key in [a,b,c] and output

It is better to first select data in the given fields, then only fill those selected data and output. This will make loading data much faster and efficient.

[2019-02-08 17:50] danielballan commented on #391
That is true. If I proceed as planned, I will gut the entire databroker codebase by the end of the next week (replacing it with intake) so I suggest we not bother optimizing the current implementation.

[2019-03-28 00:38] danielballan opened #448 "Support direct access to files for export / transfer."
The method `RunCatalog.read_canonical()` returns "filled" Events and no Resource or Datum documents. For some use cases, including back-compat for databroker methods that have `fill=False` and exporting documents/files to remote databases, we need unfilled Events and Resource and Datum documents. We will also need a way to _serve_ the data in the Resources.

Quick braindump on how this might work:

[2019-03-29 18:56] CJ-Wright opened #396 "portable databroker does not refresh in other process"
It seems that if you insert data into a portable databroker in one process (input) and try to get it out in a different process (output) the output process does not refresh to reflect the new data unless the a new databroke object is created from the same config.

Example to follow, once I sort out the round trip of `db.from_config(db.get_config())` (see #395 )

[2019-03-31 14:53] danielballan commented on #396
Do you have the bandwidth to dig a little deeper on this? Our resources are aimed the 1.0 rewrite.

[2019-03-31 22:01] CJ-Wright commented on #396
Yes but I think the other PR needs to go in first (that way it is easier to copy databrokers across processes)

[2019-04-02 22:34] pavoljuhas opened #397 "AttributeError in Header.from_run_start"
The `Header.from_run_start` function is documented as taking uid strings, but for such argument it fails with `AttributeError`.  Perhaps it should call `hs.mds.run_start_given_uid` [here](https://github.com/NSLS-II/databroker/blob/171c98543d7a06deee2d8518e54d4709653880b3/databroker/_core.py#L107).

Here is a minimum example that produces the error
[code]

[2019-04-03 16:13] tacaswell commented on #448
I have a bunch of contradictory thoughts on this.

 - We probably want to provide a way to do individual access to the files (so if I want 2 / 1000 tiff images I don't have to pull them all).
 - it would be nice to keep all of this out of the `Handlers`, but we may need to have a version of the file manager from suticase, but for reading so we can de-couple the I/O from the handlers a bit more
 -

[2019-04-16 14:39] danielballan opened #398 "Make importable without launching a QApplication"
This seems less than ideal:

[code]

[2019-04-16 19:32] prjemian opened #399 "Any plans for a visualization tool for databroker?"
This query at APS today from @jphammonds expresses the basic question:

<em>
Are there any tools to visually inspect the tables in the databases?  For instance, I am setting up to monitor pvs during the run by setting monitors in the preprocessor’s Supplemental Data.  Anything that allows browsing the runs (such as <tt>db[#]</tt>) and see the items available for plotting?

I am also recording some

[2019-04-16 19:37] prjemian commented on #399
@jphammonds:

I have used a tool that allows viewing (and editing!) of the mongodb. It knows nothing about databroker.  It's the only raw mongodb viewing I am using now.  Certainly there must be others but this one was free and available when I looked.  So, I put it on our APS common file server.  (There is also a .bat version of the starter for Windows.)

Caution:  Since it allows editing, be ver

[2019-04-17 03:14] danielballan commented on #399
I suggest starting with the simple:

[code]

Separately, we are working on a GUI that sits on top of databroker and lets you search, browse, and visualize Runs. I spent a couple hours on it today, in fact.

We plan to build our tools on top of the databroker API and avoid interacting with Mongo directly so that the tools we write can work equally well on top of any storage backend. We have some pr

[2019-04-17 16:13] KedoKudo opened #400 "YAML deprecation warning triggered by using load() without specifying the loader"
Using databroker to load a YAML file will trigger the following warning:

[code]

the easiest fix would probably be changing `return yaml.load(f)` to `return yaml.load(f, Loader=yaml.FullLoader)`

[2019-04-17 16:45] JPHammonds commented on #399
Dan,

I have tried the plot as you have suggested below but I am getting errors with this.  A plot window pops up but it is empty.

I am able to list the table:

In [10]: db[-1].table(stream_name="depSys_gun_selector_mps1_voltage_rbv_monitor")
Out[10]:
                                 time  depSys_gun_selector_mps1_voltage_rbv
seq_num
1       2019-04-16 16:26:15.623624086

[2019-04-17 16:50] JPHammonds commented on #399
I should mention that tools to look at the info in the database are really needed.  I do not think that the users are going to really want to use the command line for this.  The guy I am working with mentioned that he thought part of the reason for going with BlueSky was that since it would be used by a number of beamlines that there would be tools like this to go along with it.  I am trying to mo

[2019-04-21 02:50] ambarb opened #401 "ENH: eventsource.archiver more flexible if not already"
For `databroker` version `'0.9.4` & `0.11.1` it seems that `table_given_times()` is not available as imported.  Am I missing something?  I see it here:
https://github.com/NSLS-II/databroker/blob/171c98543d7a06deee2d8518e54d4709653880b3/databroker/eventsource/archiver.py#L233

This is something that I would use, especially in a context like:
[code]

though, what I am doing now is just trying to plo

[2019-04-21 03:41] ambarb commented on #401
I am able to get the information i need, but please let me know how to enable the `tables_given_times()` and its dependencies.

[code]

[2019-04-25 20:41] ambarb opened #402 "Really confusing Exception for db search and improve error state"
Using:
[code]

I forgot the `since` argument with line:
[code]
and got this Exception, which scared me as maximum RAM seems alarming.  I understand why this happened, but I don't understand why it didn't fail on a check of the arguments instead of trying to get data from the beginning of time.

BTW:  I love this function!  It makes it easy to not make typos,  especially if making the scans in a sc

[2019-04-29 19:39] prjemian opened #403 "compression in mongodb server"
What is the default/recommended compression scheme for the MongoDB server, assuming we might run into space issue?

[2019-04-29 20:15] mrakitin commented on #401
The `table_given_times()` function was introduced via https://github.com/NSLS-II/databroker/pull/359/files#diff-92a7328ca978fe3c83efe34d6e3518bbR233, which was released in v0.12.0, so you may want to use a newer databroker to use the function.

[2019-04-30 15:22] ambarb commented on #401
Thanks for the reassurance that the function is in a release.  Do I need to clone the current nsls2 analysis environment as my own and then conda update?  will that take care of it, or do I need to know the specific tag?

[2019-04-30 15:24] ambarb commented on #401
Also, if I instruct the function that I want to use the Eastern TIme zone, it goes an pulls the appropriate data, but it always returns that data with a GMT time stamp.  Is the intended functionality?

[2019-04-30 15:35] mrakitin commented on #401
Not sure exactly, it's a question to @malitsky regarding the implementation.

[2019-04-30 15:36] mrakitin commented on #401
You should have the latest conda environments, which contain the latest databroker version (and the archiver features). Are you running in Jupyter? Which beamline? We may need to update the kernels then (@danielballan and I can handle it after we know more details).

[2019-04-30 15:55] ambarb commented on #401
This is at CSX using srv1 current.  I confirmed before replying.  Databroker is version `0.11.1`

[2019-04-30 17:50] ambarb commented on #401
I think SIX is also like this

[2019-04-30 21:28] mrakitin commented on #401
@ambarb, we with @danielballan plan to update the kernels at CSX first and perform the testing, namely, creating a legacy tag with the matching version of the conda env used, and add a new kernel which points to the latest analysis environments. If this succeeds, we will perform the same update for SIX kernels.

When is a good time to do that, so we don't disrupt users? Do you want to also partici

[2019-05-01 15:53] ambarb commented on #401
@mrakitin @danielballan  I spoke with most everyone and I think we will hold off on updates until a maintenance day or the conda env for 2019-3 analysis.  Thanks for the help and the clarification.

I want to close this issue, but I will wait for @malitsky to comment about GMT timestamps on the return of the data if asked for in EST.  Then we can decide to open and ENH issue or not.

[2019-05-02 14:02] malitsky commented on #401
@ambarb, it will be looked over/updated tomorrow/Monday.

[2019-05-03 16:09] gwbischof opened #404 "database connection with uri and intake compatibility"
To connect to a mongo cluster with load balancing, we need to specify more information in the connection string than allowed by databroker currently.

A connection string uri for a cluster looks something like this:
mongodb://user:password@mongo01:27212,mongo02:27213,mongo03:27214/database?authSource=admin

I think we should be able to connect to a datasource by uri, so we can specify any addition

[2019-05-06 18:56] gwbischof opened #454 "socket leak"
This way opens new mongo sockets for each iteration
cat = catalog['xyz']
for i in range(100): cat['id'].primary.read()

This way reuses the open sockets:
cat = catalog['xyz'] ()
for i in range(100): cat['id'].primary.read()

I think this needs a little more investigation.

[2019-05-07 12:11] malitsky commented on #401
a flexible data retrieval interface for arbitrary time intervals is supported by Archiver Reader in the updated ARVPYF version (https://github.com/SciIO/arvpyf). @ambarb, ARVPYF requires only the Requests module and can be directly installed with pip. Explicit time zone conversion was included in the databroker PR (#405).

[2019-05-07 13:48] ambarb commented on #401
That is great.  Easy install instruction and the documentation looks great.

[2019-05-07 13:48] #401 closed, assigned to nobody

[2019-05-07 14:42] danielballan commented on #454
I think this will be fixed by https://github.com/intake/intake/pull/335. We are currently not compatible with the intake `master` branch though, so we'll have to resolve whatever API change broke us before we can verify that.

[2019-05-12 14:29] danielballan opened #451 "Rethinking get_events_cursor"
The current interface between `RunCatalog` and a given intake-bluesky driver requires the driver to provide Events. If the driver has EventPages, it must unpack them into Events and then provide them to `RunCatalog`. This is an inefficient bottleneck.

Discussion with @gwbischof led to this proposed way forward:
* Remove `get_events_cursor` from the API.
* Provide `get_event_pages`, which should r

[2019-05-16 16:32] danielballan opened #407 "Reinstate -W "warnings -> errors" sphinx option"
Temporarily removed in #406 in the rush to get blueskyproject.io/databroker up in time for the User Meeting

[2019-05-16 18:21] gwbischof commented on #454
list the number of mongo sockets: netstat | grep mongo | wc -l

[2019-05-16 18:22] gwbischof commented on #454
https://github.com/intake/intake/pull/335 didn't fix this issue

[2019-05-17 02:00] tacaswell commented on #403
In our experience at NSLS-II the size of the data in mongo is small compared to the scale of the image data being collected.   The beamline with the most data in mongo at ~5 years of operation is ~250GB (not including the indexes).

@gwbischof has been looking at tools that will store compressed time series in mongo (this is related to the "event page" or "embedded" work at ,https://github.com/blu

[2019-05-23 14:05] #400 closed, assigned to nobody

[2019-05-23 19:54] #407 closed, assigned to nobody

[2019-05-29 18:08] gwbischof commented on #451
I agree, I think this is the way to go.

[2019-06-04 21:42] gwbischof commented on #451
Several other changes that are related to this change:
- adding `to_event_pages`, and `to_datum pages` decorators in core.py, these can be use used to change `get_event_cursor` to `get_event_pages`, and `get_datum cursor` to `get_datum_pages`.

- `_get_event_cursor` method will only take a single `descriptor_uid` instead of a list of `descriptor_uids`. Because a list of generators (a generator for

[2019-06-04 22:18] tacaswell commented on #451
The resource and datum probably need to be spliced into the documnet stream the same way that the events are.

[2019-06-05 13:04] danielballan commented on #451
* Good use of decorators (`to_event_pages`, `to_datum_pages`).
* Agreed on `get_event_pages` taking one `descriptor_uid`.
* Great, I think having `interlace_event_pages` as a stand-alone function will be very useful. In  fact we should probably move that up into `event-model` eventually. (But for now putting them directly in `intake-bluesky` is fine, to simplify dependency management.)

Questions:

[2019-06-05 19:55] gwbischof commented on #451
After discussion with @danielballan and @tacaswell.
- We plan to leave skip and limit in `get_event_page` signature, and implement `read_canonical` skip and limit at a later time.
- Replace `get_datum` with `lookup_resource_for_datum`

[2019-06-05 21:58] stuartcampbell opened #415 "Update build badges to new bluesky org"

[2019-06-06 14:38] #415 closed, assigned to stuartcampbell

[2019-06-06 19:18] gwbischof opened #450 "read_partition optimization for pages"
We should work out how read a random partition of a BlueskyRun without iterating from the beginning of the run. `BlueskyRun::read_partition` is the method that handles this.

[2019-06-06 20:29] gwbischof opened #452 "documents_to_xarray optimization for pages"

[2019-06-06 20:48] gwbischof opened #453 "mongo_embedded lookup_resource_for_datum optimization"

[2019-06-12 18:28] ambarb opened #416 "archiver function fails on first execution - making it not compatible with flow control"
For the code below, Shift+Enter is needed twice for the cell containing the last line of the input code below.  This is also the case if PVs are changed or Kernel is restarted.

## input code
[code]

## Last line returns exception for the first execution (new PVs or reset kernel)

[code]

[2019-06-13 19:54] ambarb opened #417 "make archiver returned data format easier to use when multiple PVs are requested"
Please see the notebook example in which 3 PVs are requested simulatentously.  The PVs are returned in what seems be an object that all three are inside for each timestamp.   It isn't clear to me how to properly access the data or if I am using it in the intended way.

The notebook details the issue.  Using databroker 11

https://nbviewer.jupyter.org/gist/ambarb/6ef24854189e8b6e35da377f3e5a6795

[2019-06-19 17:12] danielballan opened #449 "Fix 'filled' for mongo_embedded"
The `mongo_embedded` driver needs a fix analogous to the fix to `mongo_normalized` in https://github.com/bluesky/intake-bluesky/pull/56/commits/6951fdf955dd6d927fd3588bcf6bc7965f811689.

[2019-07-13 13:00] danielballan opened #444 "Use numpy.broadcast_to instead of numpy.tile."
The `broadcast_to` function does not need to make a copy.

[2019-07-15 15:28] rjkoch opened #418 "lazy search exit_status of databroker headers"
It would be useful if the db lazy text search could sift out only headers with `'exit_status':'success'` under the `'stop'` key, or other lower level metadata.

Currently, `db(exit_status='success')` does not return any results.

The below creates a useful generator, but I could imagine it would become slow to actually loop through for large runs?
`headers = (header for header in db(sample_name='T

[2019-07-15 20:32] danielballan commented on #418
Agreed. You are correct that the only way to do this is by a brute-force search. It's been a known issue for awhile, but I don't think we have a GitHub Issue to track it yet. Thank you for opening this one.

[2019-07-15 20:44] rjkoch commented on #418
Glad I didn't miss an existing issue or some functionality! It seems like the query searches through values associated with the `start` key of each Header, but not values associated with the `stop` key.

[2019-07-16 23:56] danielballan opened #419 "Look into LSST "Data Butler""
I learned about this at the SciPy Conference. There may be useful lessons to learn from it.

[2019-07-17 17:13] klauer commented on #419
https://confluence.lsstcorp.org/display/LSWUG/Data+Butler

[2019-07-19 19:34] gwbischof commented on #450
This issue is a subset of issue https://github.com/bluesky/intake-bluesky/issues/17

[2019-07-23 03:10] danielballan opened #446 "Add optional 'stop' and 'descriptor' kwargs to search method."
This would enable users to search like:

[code]

and search on descriptors as well, something that @CJ-Wright has been rightly requesting for some time.

[2019-07-23 03:20] danielballan commented on #418
You are correct. The problem is that the `start` key and the `stop` key can contain colliding names; for example, both always contain a `time` key, and other user-defined keys could also collide. If the user searches for `db(time=...)` which time do they mean? One option is to _guess_ but if we guess wrong, the user is likely to be very confused by the results. That is was led us to the current ap

[2019-07-24 19:18] danielballan opened #420 "sqlite-backed asset registry is not threadsafe"
The sqlite-backed "header source" (née metadatastore) is thread-safe but the sqlite-backed "asset registry" (née filestore) is not. It could be made threadsafe using the same approach applied in the header source.

[2019-07-30 10:57] #420 closed, assigned to tacaswell

[2019-07-30 14:01] mrakitin commented on #420
xref https://github.com/bluesky/databroker/pull/421.

[2019-07-30 15:07] danielballan opened #426 "Support query parameters like 'order' and 'limit'."

[2019-08-21 20:59] gwbischof opened #445 "Add document validation option for catalogs"

[2019-08-23 00:02] mrakitin opened #430 "DOC: fix release notes separators"
At some point we started to mix the `----` and `++++` separators, which caused the version heading to feel smaller than the sub-titles. Example:

<p align="center">
  <image src="https://user-images.githubusercontent.com/13209176/63557230-dcbefd00-c515-11e9-8ee2-761fdb370688.png" height="400">
</p>

----

This should be fixed consistently, namely:
- the main version title should have the `----` se

[2019-08-23 23:36] danielballan commented on #445
To elaborate on the title, the idea is validate on _ingest_ --- probably in `BlueskyInMemoryCatalog.upsert()` --- to ensure that the ingestor is providing valid documents and in the expected order.

[2019-08-29 21:12] gwbischof opened #431 "all-digit uids get treated as scan_id by intake client-server"
This test fails occasionally with:
`KeyError: '86038425'`

The uuid doesn't have any letters in it so databroker thinks its an index and not a partial uuid.

[2019-08-29 21:13] gwbischof commented on #431
This only happens if it is run with the server

[2019-08-29 21:14] tacaswell commented on #431
Could probably cast to int -> try -> catch failure -> try again as a string?

[2019-08-30 13:10] danielballan commented on #431
That's clever, but it could lead to even more confusing failures. What if the user enters

[code]

and there happens to be a scan with `scan_id=1003`? If the user gives us a string, we have to assume they mean (partial) UUID.

[2019-08-30 14:27] gwbischof commented on #431
test_search_for_smoke is the test.

[2019-09-12 12:48] danielballan opened #439 "Nice-looking HTML repr for Dataset and DataArray"
Xarray is working on nice-looking reprs for Dataset and DataArray, but the work appears to be stalled, as of this writing. We should consider contributing some effort to that. If xarray decides to proceed conservatively and we feel impatient to roll this out, we have the option of registering custom formatters for xarray here in databroker without modify xarray itself: https://ipython.readthedocs.

[2019-09-20 12:57] danielballan commented on #129
Not relevant because `fill_events` is removed from v1.

[2019-09-20 12:58] danielballan commented on #146
Data at rest never has a filled key; data in flight always does.

[2019-09-20 13:03] danielballan commented on #44
This is an old one! We now do this basically as @ericdill suggested. Over in https://github.com/bluesky/event-model/issues/98 we are developing a formal specification and validation for "ordered".

[2019-09-20 13:04] danielballan commented on #190
The sqlite backend is deprecatedin favor of msgpack.

[2019-09-20 13:04] #190 closed, assigned to nobody

[2019-09-20 13:13] danielballan opened #447 "Add a convenience Query class for searching by Devices and Fields."
Add a convenience object for making queries that include or exclude certain devices. This would assemble a query that applies to the `object_names` section of the Event Descriptors. Thus, #446 is a prerequisite, as it is currently only possible to search on RunStart.

We could do it like this:

[code]

but I expect that the most common case will be searching for runs that include one device, as in

[2019-09-20 13:16] danielballan commented on #382
This was done and is now tested in CI.

[2019-09-20 13:17] danielballan commented on #373
Superseded by #446

[2019-09-20 13:17] #373 closed, assigned to nobody

[2019-09-20 13:18] danielballan commented on #397
Hm, sorry we completely missed this one @pavoljuhas. This method of constructing Headers has been removed from v1, so I'm going to close this.

[2019-09-20 13:18] #397 closed, assigned to nobody

[2019-09-20 13:39] danielballan commented on #352
Superseded by intake's progressive search functionality

[2019-09-20 13:39] #352 closed, assigned to nobody

[2019-09-20 13:40] danielballan commented on #345
The Catalog of search results returned by intake knows its own query, which I think addresses the original prompt here.

[2019-09-20 13:40] #345 closed, assigned to nobody

[2019-09-20 13:41] danielballan commented on #331
The docs build without warnings now.

[2019-09-20 13:41] #331 closed, assigned to nobody

[2019-09-20 13:42] danielballan commented on #273
This is a suitcase concern now, and suitcase-mongo drops the concept of sentinels, as insert is expected be happening at the far end of a message bus, not in user space.

[2019-09-20 13:42] #273 closed, assigned to nobody

[2019-09-20 13:44] danielballan commented on #353
`db.v2.primary.read()` now includes fields from the Events and fields from the EventDescriptors, all together.

[2019-09-20 13:44] #353 closed, assigned to nobody

[2019-09-20 13:47] danielballan commented on #399
@JPHammonds We have finally made some good progress on this. See https://github.com/bluesky/bluesky-browser

It's not quite ready for users---still a bit too easy to crash---and it needs docs, but I expect it to be stable enough in a month or two.

[2019-09-20 13:48] danielballan commented on #398
I'm not sure which top-level import is pulling in `matplotlib.pyplot`.

[code]

[2019-09-20 13:49] danielballan commented on #382
Actually, I was incorrect. We fixed this in _bluesky_ and test it there. It is still an issue in databroker; see #398 for details.

[2019-09-25 14:42] danielballan opened #455 "Register custom reprs at import time."
Using [this mechanism](https://ipython.readthedocs.io/en/stable/config/integrating.html#formatters-for-third-party-types) we can register custom reprs for objects, even if those objects are defined by other libraries.

Candidates for this include:
- [ ] A `LocalCatalogEntry` instance that happens to include one of our Catalogs or DataSources
- [ ] `xarray.Dataset`, as mentioned already in https://

[2019-09-26 20:50] gwbischof opened #459 "read_partition calls _load each time"
If a run_stop exists, then we don't have to call _load on each call to read_partition.

https://github.com/bluesky/databroker/blob/master/databroker/core.py#L766

[2019-10-10 17:46] jklynch opened #460 "cursor timeout while processing many events"
PDF was trying to process a large number of events (>11,000) and experienced cursor timeout exceptions. The classic mongo fix is to explicitly set the query batch_size so that each batch of results is processed before the cursor times out. The problem was temporarily solved by pip installing modified databroker code in a cloned conda environment. The modifications were adding `batch_size=100` to t

[2019-10-15 19:46] ronpandolfi opened #461 "Modify upsert signature to take start and stop docs optionally"
As discussed with @danielballan , `upsert` requiring `start` and `stop` docs explicitly in addition to a generator could lead to running through the generator twice to get these docs, particularly citing the design of ingestors.

Considering first the case of feeding an ingestor to `upsert`, it would help to make the `start` and `stop` arguments optional.

It was also discussed to add to the inges

[2019-10-15 19:59] danielballan opened #462 "Change hints schema."
Per discussion with @ronpandolfi, @ihumphrey, and @DylanMcReynolds, it would help to make the hints more self-describing if we changed entries like

[code]

to

[code]

[2019-10-16 13:22] tacaswell commented on #462
We don't expect to pick up any more fields in this value (as that would imply we have folded on the "event/event pages are lowest level thing that can have structure" line) so we can define in the schema what the values mean without any ambiquity.

On the other hand we want this to be consistent with how we specify data keys in hints and in the "techniques" / "experiments" entry in the start docum

[2019-10-16 14:15] danielballan commented on #462
Yes, I think it's unlikely to grow. The motivation was to make it more _self-describing_.

[2019-10-28 18:33] gwbischof opened #466 "catalog.reload() doesn't find new catalog files."

[2019-11-08 19:12] ronpandolfi opened #467 "Xarrays have wrong size, correct shape; internal dask array is all fine"
(discussed in coalition call on 11/8)
When accessing databroker data using direct normalized mongo, the xarrays returned with `.to_dask()` sometimes have incorrect `.size`, even though their `.shape` is correct and their internal dask array have correct `.size`. The `.size` reported by the xarray is less than the product of its `.shape` dimensions. These symptoms appear when:

- Running on windows

[2019-12-13 15:53] danielballan opened #475 "Expose fields in a more convenient place."
Access the list of fields in an Event Stream should be easier than

[code]

We might want to use something in intake `Schema` to handle this.

[2019-12-14 02:51] rjkoch opened #477 "db export error sanitizing headers"
The following code returns an error:
[code]

Traceback:
[code]

This occurs when querying the 'pdf' databroker at the PDF beamline on xf28id1-ws2

[2019-12-14 20:14] rjkoch commented on #477
This also occurs if `db.export` is passed a list explicitly.

[2019-12-20 20:03] gwbischof opened #480 "get_resources return value inconsistency"
If there are no resource documents, get_resources for mongo_embedded returns None, while get_resources for mongo_normalized returns []

[2020-01-06 19:02] gwbischof opened #485 "Add a databroker method to load a catalog from a intake catalog file (v2 config file)"
Currently the recommended way to create a v2 databroker catalog is `intake.open_catalog(catalog_file)`

I think we should add a databroker method to load v2 config files, so that users don't need to know about intake.

Thoughts about how this should be implemented?

Some ideas to start the conversation:
- update `databroker.v1.from_config()` so that it can also load v2 catalogs. Should this method

[2020-01-07 16:33] danielballan commented on #480
Oh, good catch. Since `get_resources` potentially returns 0, 1, or N resources, I think returning an empty list is best so that it has type stability. A test should be added to the `generic.py` tests to check that all drivers do this right.

[2020-01-07 16:45] danielballan commented on #446
I think the main blocker on this is thinking through how and whether we can implement it in other layouts beside mongo normalized.

[2020-01-09 16:27] gwbischof opened #486 "Change the BlueskyEventStream argument get_run_start to run_start"
By passing the actual run_start to the BlueskyEventStream instead of the function to get the run_start from the database, we can reduce the queries to the database.

[2020-01-10 14:16] #486 closed, assigned to nobody

[2020-01-12 20:11] danielballan opened #491 "Make Document immutable."
The v0 API returns `doct.Document` objects default, which have some regrettable quirks but are _immutable_. The v1 API returns plains dicts. Often these dicts are referenced in internal caches, so that if user code mutates one, it can be come impossible for the user to re-request the unmodified original. For this reason, the immutability should probably be reinstated in v1.

Exactly how to impleme

[2020-01-13 15:40] gwbischof opened #492 "BlueskyRun load is called twice"
When accessing an entry in the catalog, BlueskyRun._load() is called twice.

[2020-01-14 11:42] danielballan commented on #492
A minimal example to reproduce:

[code]

[code]

Now, with prints added to `BlueskyRun.__init__` and `BlueskyRun._load`, access the data:

[code]

It looks like `_load` is being called once per `__init__` (good) but that `__init__` is being called twice (bad).

[2020-01-14 11:55] danielballan commented on #492
I started to look at this in https://github.com/bluesky/databroker/pull/494 back in November. On that branch, we get the expected number of prints. But it may introduce different problems!

[code]

[2020-01-14 14:01] danielballan opened #495 "Mutability of documents returned by databroker"
Documenting a train conversation with @tacaswell where we try to recall and revisit the ~2014 decision to make the documents returned by databroker immutable at the top level only. attn @gwbischof

The primary concerns, with the most important first, are:

* What if users mutate an object that is also stored in an internal databroker cache? The object would be permanently changed for the lifetime

[2020-01-14 14:53] danielballan opened #496 "Reinstate just enough deep copying to guard against cache corruption"
We should make it impossible for callers to modify objects that are cached internally. This will involve deep copying somewhere and might carry a significant performance cost, so we may want to add an _option_ for callers to opt out of this safety.

[2020-01-14 19:02] gwbischof opened #498 "Stop(None) fails"
This lines fails when there is no stop document:
https://github.com/bluesky/databroker/blob/6b39d2dd4c91ce863cc12d359090c3797aa4bfee/databroker/core.py#L932

[2020-01-14 19:51] #480 closed, assigned to nobody

[2020-01-14 19:51] #498 closed, assigned to nobody

[2020-01-14 21:19] danielballan opened #499 "Add some API to add a Catalog to a config file."
Better yet, sort out how intake does this or could do it.

[2020-01-16 16:35] #491 closed, assigned to nobody

[2020-01-17 00:36] danielballan commented on #492
Closed by #494

[2020-01-17 00:36] #492 closed, assigned to nobody

[2020-01-17 14:38] danielballan opened #507 "Verify that v1 and v2 can load historical data as well as v0 can."
This issue is to track the effort to verify that all historical beamline data at NSLS-II can be loaded using the new codepaths in v2 and v1. We will be watching for errors and any serious performance regressions relative to v0.

In at least one case, we know we need to use the "transform" feature to patch up Event Descriptors that erroneously recorded the shape of the data in their Events. There w

[2020-01-17 16:26] danielballan commented on #507
Loading all of the data ever taken at NSLS-II seems possibly impractical, so I intend to start by loading the data from the last 6 months and then randomly sampling older data. h/t @stuartcampbell for helping me think this through.

[2020-01-17 22:38] gwbischof opened #509 "Rethink when to call BlueskyEventStream._load_partitions"
I think this may be an issue if the if load_partitions is first called before all of the documents are available. The next time you call read() on the stream, you may not get all of the documents, because load_partitions is not called a second time.

https://github.com/bluesky/databroker/blob/master/databroker/core.py#L1397

[2020-01-21 16:53] danielballan opened #510 "Mark documents_to_xarray as experimental *or* refactor it."
We intend to rewrite `documents_to_xarray`, and the changes are expected to break the API. (See #471.) This work may or may not be included in the 1.0 release. If they are not, we should at least make `documents_to_xarray` and any associated functions internal or clearly marked as experimental and subject to non-backward-compatible changes in the future.

[2020-01-21 16:59] danielballan commented on #509
Indeed, DataSource does not have the `reload()` concept that Catalog does. Perhaps it should.

[2020-01-23 16:24] gwbischof commented on #507
I setup this private repo for these tests: https://github.com/NSLS-II/databroker-nsls2-tests

[2020-01-29 12:54] mrakitin opened #516 "hdr.table() returns an empty dataframe for v1"
Observed yesterday at CSX.

Databroker 1.0.0b6:
![20200128_182046](https://user-images.githubusercontent.com/13209176/73358386-809e9880-426c-11ea-8447-d3b71291e6a6.jpg)

Databroker 0.13.0:
![20200128_182152](https://user-images.githubusercontent.com/13209176/73358431-9318d200-426c-11ea-9270-8a043004e44b.jpg)

[2020-01-29 21:09] gwbischof commented on #516
I am working on debugging this. When I use databroker 1.0 the run only shows 12 documents. When I use databroker 0.13 it shows 889 documents.

[2020-01-29 21:21] gwbischof commented on #516
Also with databroker v1.0.0b3 there are 543 documents for this run

[2020-01-29 21:42] gwbischof commented on #516
I checked a different scan and the number of documents for the different versions of databroker matched.

[2020-01-29 21:44] gwbischof commented on #516
@mrakitin suggested that we add tests to make sure we get the same data for v0,v1,v2 brokers.

[2020-01-29 22:50] gwbischof commented on #516
I think the problem is that each time read_partition is called. self._partitions is None, and the partitions are reloaded each time. When filling there is a UnresolvableForeignKeyError, this inserts a new partitions into self._partitions. But the next call to read_partition self._partitions is None again and the partition that was inserted due to the UnresolvableForeignKeyError is missing.

[2020-01-30 16:55] gwbischof commented on #516
This is the problem, I removed the line of code that inserts the missing datum into BlueskyEventStream._partitions, and I got the correct number of events. What is happening is that when we read partition 0, we call load_partitions because self._partitions is None, and then return partition 0. Then we read_partition 1, self._partitions in None again, so we call load_partitions. We try to return pa

[2020-01-31 16:23] gwbischof opened #518 "Add a test to check read() with old style resource documents"
There doesn't appear to be a simple way to make a test for:
https://github.com/bluesky/databroker/pull/517

So we are making this issue to remind us to do it later.

[2020-01-31 18:51] #516 closed, assigned to nobody

[2020-02-10 16:45] mrakitin commented on #460
Related: https://github.com/bluesky/databroker/pull/478.

[2020-02-10 16:47] danielballan commented on #460
#478 enables this kind of thing. We should address this timeout situation directly, at least with a better error message recommending tuning `batch_size`.

[2020-02-19 19:59] gwbischof opened #520 "interlace fails when events have the same timestamp + index"
[code]

[2020-02-19 20:02] gwbischof commented on #520
[code]

[2020-02-20 14:22] danielballan opened #524 "What should Document(...).copy() return?"
From #523:

This also prompts the question, "What should Document(...).copy() do? "Currently we do not override it, so it falls back to dict.copy() returns a plain dict with a shallow copy of the original Document. Recall that we also support to_dict() which returns a dict with a deep copy. Options I can think of:

* Leave as is.
* Return self, since Document.copy() might be expected to return a D

[2020-02-20 16:27] gwbischof opened #525 "You can get a resource from a different run"
In some cases resource uids are not unique.
We plan to enforce uniqueness of resource `uid` in the future.
In the example below, we read the run with datakbroker v0, and v2 and we get different resource documents. The documents have the same `uid`, but different `run_start`. The `run_start` of the returned resource should match the `uid` of the run being read.
[code]

[2020-02-21 15:00] danielballan opened #526 "Increase minimum version event-model to 1.13.3"
...which is not yet released but will have this fix which we want https://github.com/bluesky/event-model/pull/146

[2020-02-23 03:48] danielballan opened #530 "Review whether canonical yield EventPage, Event, or a mix."
I think the intent is to always return EventPage, but in the course of doing something else I think I observed some Events come out of `run.canonical(...)`.

The motivation for always returning EventPages is to make sure that all v2 consumers can handle large numbers of events efficiently.

[2020-02-23 18:24] danielballan opened #531 "Should Document have a special __repr__?"
The `__repr__` of `Document` currently just inherits from `dict`. Here's a descriptor, for example---a pretty small one at that.

[code]

Should we specialize the `__repr__` to

(1) indicate that the type is `Document` (or a subclass thereof) and
(2) try to present it more readably, recognizing that they are typically deeply nested and large and especially benefit from some form of pretty-printing

[2020-02-23 18:36] tacaswell commented on #531
Any repr that has newlines is _terrible_ for use in logs (as it becomes almost impossible to visually see which lines are due to being a new entry and which are inside of an entry).

We should hook into the IPython repr hooks rather than doing this on the class its self.

We do currently have an html repr on doct.

[2020-02-23 18:50] danielballan commented on #531
That is a good point. Another option is to add just the class name (that is, `{...}` -> `Document({...})`) to the `__repr__` and do the rest through IPython/Jupyter hooks, which don't affect logs.

[2020-02-23 19:02] danielballan commented on #531
This works:

[code]

[2020-02-23 19:10] danielballan opened #532 "Give BlueskyRun a one-line __repr__ and multi-line _repr_pretty_."
Prompted by discussion in #531

[2020-02-24 14:51] danielballan opened #533 "Tracking issue for packaging all known handlers"
This is a tracking issue for packaging databroker handlers. All of the handlers that were formerly developer in the databroker source tree have been moved to bluesky/area-detector-handlers. There are a couple other handlers in the wild, living mostly in `profile_collection` repos, that need to be captured in a proper repository, that is:

(1) in some installable package, not in `profile_collection

[2020-02-25 00:05] danielballan commented on #531
I drafted a PR with above (and some tests) in #534 but I am still very much open to feedback on this.

[2020-02-25 11:23] awalter-bnl commented on #533
Friendly reminder, There is also a handler at IOS for their specs detector that should be included.

[2020-02-25 12:08] danielballan commented on #533
Thanks. Meant to go back and find your Slack message to verify that I transcribed it right (from memory). Edited original post.

[2020-02-28 16:19] MikeHart85 commented on #533
List of all the handlers I've been able to find, which are defined or referenced among the beamline profiles (searching for `HandlerBase` and `register_handler` in all profiles):

### In [eiger-io](https://github.com/NSLS-II/eiger-io)
- [EigerHandler](https://github.com/NSLS-II/eiger-io/blob/726ce0be4e085fad5bc584e098304fbc66da119a/eiger_io/fs_handler.py#L83-L201)
- [EigenHandlerDask](https://gith

[2020-02-28 16:25] MikeHart85 commented on #533
@danielballan: How should these be packaged? All in one big package? By beamline (there seems to be some overlap/copy-pasting)? Each in separate packages?

What about the `eiger-io` ones? They are already a package, but it doesn't look entrypoint enabled... should it just be updated, or repackaged with the others?

[2020-02-28 17:55] danielballan commented on #533
I believe that everything still relevant from `eiger-io` was merged into `area-detector-handlers` in https://github.com/bluesky/area-detector-handlers/pull/5

I would like to avoid beamline-specific packages because I think these will tend to become multi-beamline and multi-facility, even if some of them happen to be in use at one beamline today.

Everything that originates from an Area Detector (

[2020-02-28 19:04] mrakitin commented on #533
Dexela uses Mark Rivers' AreaDetector, should go there as well.

Agree about the pizzabox and zebrabox handlers.

[2020-02-28 20:09] stuartcampbell commented on #533
Would it make sense to have an `nsls2-detector-handlers` package as a staging place for handlers that are specific to us at the moment?  Or is this too much like a 'beamline package' @danielballan ?

[2020-03-03 19:26] danielballan commented on #533
I like `nsls2-detector-handlers` as a staging place.

[2020-03-05 00:29] #531 closed, assigned to nobody

[2020-03-06 20:12] danielballan commented on #206
Relying on xarray+dask gets us part of the way there: cheaply get a lazy "shell" (xarray of dask array), slice on it in potentially complex ways, and then load the relevant chunks.

I think we still need support for pulling a slice of document stream, though, so this issue remains open. Adding an `index` to Event and Datum will help.

[2020-03-06 20:13] danielballan commented on #526
Closed by #535

[2020-03-06 20:13] #526 closed, assigned to nobody

[2020-03-06 20:15] danielballan commented on #507
Update:

After applying some fixes to event-model and databroker related to this effort, we have loaded 500 randomly selected runs from every beamline (from the last 6 months) several times with 100% success comparing unfilled documents from v0, v1, and v2.

We still plan to load _all_ the unfilled data from the last six months, and we plan to get as far as possible testing _filled_ data from beam

[2020-03-09 14:20] MikeHart85 commented on #533
General update on issues encountered:

1. ISS and QAS both have multiple PizzaBox handlers with the same name and spec, but different implementations. Not sure how to reconcile this without changing spec names or making beamline-specific repos.
2. PilatusCBFHandler at LIX appears to operate on local and gpfs mounted files, with configurable path which is referenced in other parts of the profile as

[2020-03-10 19:47] gwbischof opened #537 "Allow the config file to have a uri instead of host-port"
Host port doesn't allow us to configure the authentication or load balancing that is required for connection to the central mongo cluster. Currently databroker only support host-port.

https://api.mongodb.com/python/current/examples/authentication.html#authentication-examples

[2020-03-11 14:14] danielballan commented on #537
To elaborate, the [old-style configuration files](https://blueskyproject.io/databroker/v1/configuration.html#v0-configuration) have the limitation @gwbischof described above. The [new-style configuration files](https://blueskyproject.io/databroker/v2/administrator/index.html#mongodb-example) support a generic URI and are fully compatible with MongoDB's [default authentication mechanism](https://ap

[2020-03-11 17:34] #532 closed, assigned to danielballan

[2020-03-11 19:39] danielballan commented on #507
We will continue to do more validation between now and the planned rollout of 1.0.0 at NSLS-II, but the success of recent checks (noted in my last comment) means this is no longer a blocker for 1.0.0. There will probably be more fixes to come in the 1.0.x release series, but no anticipated API changes or major internal restructurings needed to addressed them.

[2020-03-11 19:39] #507 closed, assigned to nobody

[2020-03-11 19:40] danielballan commented on #496
Because this change is expected to have performance implications and there is not time to rigorously measure them by the planned tagging deadline, I am moving this off of 1.0.

[2020-03-12 19:53] gwbischof commented on #530
canonical(strict_order=True) yields only events.
canonical(strict_order=False) yields only event_pages.
I'll make strict_order=True also yield event pages.

[2020-03-13 15:06] danielballan commented on #510
Made it internal (`databroker_to-xarray` -> `_databroker_to_xarray`) in #540. The plan is to make this or something with this functionality public in a future release once we have settled on a good API for it.

[2020-03-13 15:06] #510 closed, assigned to nobody

[2020-03-13 15:12] #537 closed, assigned to nobody

[2020-03-13 15:17] #530 closed, assigned to gwbischof

[2020-03-13 15:19] #520 closed, assigned to nobody

[2020-04-20 20:44] ambarb commented on #416
Note that this is probably some version of data broker `0.9.x` or `0.11.x`.

[2020-05-07 23:40] ronpandolfi opened #561 "Descriptors with same names cause explosive xarrays"
See https://github.com/bluesky/databroker/pull/560

Extracting an xarray from a `RunCatalog` including multiple descriptors with the same name seems to cause this spectacular explosion:

[code]

[2020-05-15 21:53] gwbischof opened #564 "TimeRange unknown timezone"
[code]

[2020-05-19 12:57] danielballan commented on #564
I noticed this too. Thanks for documenting it @gwbischof. Does anyone have a guess about which setting `tzlocal` might be trying and failing to find? Is there an environment variable we should set? @stuartcampbell @tacaswell

[2020-05-19 13:00] danielballan opened #565 "Develop a MultiRunCache"
It would be useful to develop a variation on https://github.com/bluesky/databroker/pull/562 that collected documents from multiple runs (using `event_model.RunRouter` internally) and put them in a `Catalog` in memory. This may lead to some refactoring of `BlueskyRunFromGenerator` and `BlueskyInMemoryCatalog`, which are not particularly well factored to support this.

[2020-05-19 13:01] danielballan opened #566 "Make an example for how to access an array within a run."
The `SingleRunCache` of https://github.com/bluesky/databroker/pull/562 provides a way to access externally-stored data inside a plan. Does it work well when a Run is partially complete? Are there caching and scaling problems?

[2020-05-19 20:13] danielballan opened #567 "Intermediate component for bundling archiver data into a Run"
Prompted by NSLS-II Users' Meeting discussion

[2020-05-21 00:40] ronpandolfi opened #568 "Intake's use of `dask.base.tokenize` with in-memory data"
I was peeking into the performance of `databroker.in_memory.BlueskyInMemoryCatalog.upsert`, and noticed that intake's use of dask.base.tokenize is still a big cost.

It looks like the slowest calls are from tokenizing `databroker.core.Entry` objects. The time inside `sorted` is negligible.

The below test demonstrates this for profiling. In this case, it generates 10 `BlueskyRun`'s, each with 4 10

[2020-05-21 05:25] ronpandolfi commented on #568
Of further interest, here's what happens when I try to get a `BlueskyRun` back out. Note that there's a few more calls into `tokenize`, and extracting one of the frames takes a further 24 s.
[code]
![image](https://user-images.githubusercontent.com/8462075/82526184-30339b00-9ae8-11ea-989a-43b08656d90f.png)

![image](https://user-images.githubusercontent.com/8462075/82526266-6b35ce80-9ae8-11ea-904d

[2020-05-21 05:27] ronpandolfi commented on #568
Also, logging out all the types passed into `intake.utils.DictSerializeMixin.__new__` gives:
[code]

[2020-05-22 17:16] dylanmcreynolds commented on #467
If this can still be reproduced on Windows, should be traced back to dask or xarray.

[2020-05-29 17:18] danielballan commented on #568
Should be fixed using databroker https://github.com/bluesky/databroker/pull/569 and intake `master`. Keep open until verification that @ronpandolfi can reproduce the speedups.

[2020-05-29 17:35] danielballan commented on #461
Action item is for @danielballan and @ronpandolfi to schedule a call to review `BlueskyRun` creation methods.

[2020-05-29 17:36] danielballan commented on #461
@tacaswell suggestion:

[2020-05-29 18:03] ronpandolfi commented on #568
#569 reduces time in tokenize dramatically, to a negligible cost. I'm satisfied to close when merged.

[2020-06-02 00:55] danielballan commented on #455
The `LocalCatalogEntry` is now internal, and `xarray.Dataset` now has the nice repr by default.

[2020-06-02 00:55] #455 closed, assigned to nobody

[2020-06-02 00:55] danielballan commented on #439
These are now on by default upstream in xarray. :tada:

[2020-06-02 00:55] #439 closed, assigned to nobody

[2020-06-02 01:00] danielballan commented on #431
I think the right fix for this is to make sure that the type---`int` scan_id or `str` (partial) uid---survives the client-server interaction upstream in intake. Since intake's payload is msgpack-encoded, the distinction should survive the passage between client and server.

[2020-06-04 17:57] mrakitin commented on #567
It would probably be nice to have the archiver data bundled into the exported runs with https://github.com/bluesky/databroker-pack, so that a separate, external data source.

Discussed in a call with @ambarb, @tankonst, and @lwiegart.

[2020-06-04 19:07] danielballan commented on #567
If we can get Archiver properly re-integrated with databroker v1/v2, `databroker-pack` will "just work" and treat the Archiver time series as just another data stream. Let's discuss how to implement that.

[2020-06-04 19:54] ambarb commented on #567
But in that case, you would have to pre-declare which PVs you wanted packed, right?  Not a show stopper, just clarifying question

[2020-06-04 20:03] mrakitin commented on #567
@ambarb, with the current implementation of the archiver appliance event source in databroker, one has do declare the PVs via a configuration, or dynamically: https://blueskyproject.io/databroker/v1/archiver.html#configuration. Right now the question is about how to properly insert the data from the archiver into databroker during the collection time (or somehow else).

[2020-06-04 21:11] ambarb commented on #567
Right, but you don't want to insert all of them at the time of package?  this is probably overkill and too resource heavy?

Either way, I vote for a separate stream.  Archiver time stamp has a +/- factor for muxing with data.

[2020-06-04 21:50] mrakitin commented on #567
The archiver feature has not been heavily tested in production yet, so we need to learn about specific use cases. I know CHX and ISS were looking at it, and @elistavitski even has a GUI to visualize the archiver data via the databroker API, but we haven't explored behind this. Let's have a discussion early next week between @danielballan, @ambarb and me to see what the requirements are and how to

[2020-06-08 19:43] danielballan commented on #568
Merged and released

[2020-06-08 19:43] #568 closed, assigned to nobody

[2020-06-08 19:45] danielballan opened #577 "Regression: missing some keys in 'configuration'"
The descriptor configuration includes an `'fccd'` key in v0:

[code]

but is missing it in v1:

[code]

One thing that's special about `'fccd'` is that it is "external" so I might look around the code paths related to that.

[2020-06-08 19:47] danielballan commented on #577
[code]

[2020-06-08 22:24] gwbischof commented on #577
What version of databroker is this?

[2020-06-08 22:47] ambarb commented on #577
`1.0.2`  at least that was what I used before asking @danielballan about it when trying out stuff at SDCC

[2020-06-09 14:38] danielballan commented on #577
Reproduced on 1.0.5. (latest) as well:

[code]

[2020-06-09 20:44] gwbischof commented on #577
Could the order of the descriptors be different? And we are comparing different streams?

[2020-06-09 20:55] gwbischof commented on #577
I added a test here: https://github.com/NSLS-II/databroker-nsls2-tests/blob/compare_header_descriptors/databroker-nsls2-tests/tests/generic.py#L143

[2020-06-09 21:11] gwbischof commented on #577
![image](https://user-images.githubusercontent.com/11858848/84200151-42b04d00-aa74-11ea-9f10-b2537c465f8b.png)

[2020-06-09 21:11] gwbischof commented on #577
Confirmed that the descriptor order doesn't match

[2020-06-10 14:53] gwbischof commented on #577
![image](https://user-images.githubusercontent.com/11858848/84282732-20680f00-ab08-11ea-8aea-88d1e48baac1.png)
v0 shows a descending sort.
This suggests that it is ascending:
https://github.com/bluesky/databroker/blob/d38c683b772a1cc787d1b640b3d879dab3ba8558/databroker/headersource/mongo_core.py#L274

[2020-06-10 18:34] danielballan commented on #524
As a point of information, the abstract mapping base classes in `collections.abc` do not implement copy.

[2020-06-10 18:47] #577 closed, assigned to nobody

[2020-06-12 00:48] danielballan opened #580 "msgpack driver yields an integer after the last (name, doc) pair"
I hit a very weird databroker bug while trying to access CHX data. Where did the `10` come from?

[code]

[2020-06-12 00:52] danielballan commented on #580
Confirmed that the underlying msgpack file was corrupted during manual editing. Thank goodness!

[2020-06-12 00:52] #580 closed, assigned to nobody

[2020-06-15 21:07] mrakitin commented on #564
I edited the body of the issue for better readability (python formatting).

[2020-06-16 12:40] tankonst commented on #564
I found a similar problem when dealing with databroker on sdcc. It appeared in the function `normalize_human_friendly_time(time, tz)`. @mrakitin realized that this was because a time zone variable was not set up among the environmental variables. Introducing this variable inside the notebook solved the problem.
`import os`
`os.environ['TZ'] = 'US/Eastern'`

[2020-06-16 13:05] mrakitin commented on #564
I think databroker should fall back to the `UTC` timezone rather to `local` in case the timezone is not set on the system level.

[2020-06-16 13:31] danielballan commented on #564
If we had silently fallen back to UTC in this case, then @tankonst would not have noticed anything wrong with timezones, but she would have been handed the wrong results, presuming she wanted a certain date/time range in Eastern time. If so do this we should at least warn, though given that warnings are often ignored that still worries me.

[2020-06-16 13:37] danielballan commented on #564
As an aside, I have [just now] set `TZ="US/Eastern"` in the spawn process of the SDCC JupyterHub, so for that particular deployment this will be a non-issue.

[2020-06-16 13:40] mrakitin commented on #564
Can we reraise, but with a clearer error message, so the users will take proper actions? We spend more than an hour yesterday trying to figure out what was wrong. A clear message like `the timezone is not properly set. Set it with os.environ['TZ'] = '<your favorite timezone>'` would be much more useful. Maybe even giving a hint how to get a list of all timezones (e.g., https://stackoverflow.com/a/

[2020-06-16 13:42] mrakitin commented on #564
Thanks @danielballan! That will definitely help all the users.

[2020-06-22 16:45] ambarb commented on #567
In our offline discussion, we reviewed some existing options.  With some further investigation, what is returned to by databroker is a pandas data type and format is like that of each point collected by Bluesky when returned by databroker (`header.table()['time']`).  Currently, this is a human readable time in EST, not in seconds.  For some applications, only the relative seconds matter.  If time-

[2020-06-23 18:00] danielballan commented on #565
@bruceravel would use this. :-D

[2020-07-09 19:09] dylanmcreynolds commented on #404
I think issue has been fixed...I certainly use full mongo urls in my configuration. But this is an imperfect solution. I don't know if I should submit a new issue or track here.

Storing username and password in the yml file is not very secure. In fact, I have found in playing with intake-server, that the server displays the full yaml file when one GETs to http://intake-server-host/vi/info. So, by

[2020-07-09 19:27] danielballan commented on #404
Intake supports templated variables in the YAML files. I think this may be all we need here. https://intake.readthedocs.io/en/latest/catalog.html?highlight=env#templating

[2020-07-09 20:06] danielballan commented on #404
Example of where we have used this in a Mongo URI: https://github.com/NSLS-II/scipy-binder/blob/master/binder/catalog.yml

[2020-07-09 20:16] dylanmcreynolds commented on #404
That totally works for me. Many thanks.

[2020-07-11 12:23] #404 closed, assigned to nobody

[2020-07-27 15:05] dylanmcreynolds opened #583 "BlueskyRun and RemoteBlueskyrun classes"
BlueskyRun inherits from Catalog.

RemoteBlueskyRun, despite the name, does not inherit from BlueskyRun, rather from RemoteCatalog.

In Xi-CAM, we have an issue where the Preview panel fails to paint when the configured catalog is a intake-server because we see RemoteBlueskyRun and are expecting to see a BlueskyRun. https://github.com/Xi-CAM/Xi-cam/pull/13

Xi-CAM couldn change this by switching o

[2020-08-12 22:13] prjemian opened #588 "scikit-image needed as requirement?"
Getting this error when creating a databroker instance:

[code]

This also shows up in some documentation online: (see https://blueskyproject.io/tutorials/Hello%20Bluesky.html#Configuration):
![Clipboard01](https://user-images.githubusercontent.com/2279984/90073610-2375ac00-dcbf-11ea-9e30-5f0124a4c76c.png)

[2020-08-12 22:15] prjemian commented on #588
I'm not happy with turning off warnings.  That seems like it silences the reporter rather than fix the problem.

With `conda install scikit-image -c conda-forge`, this error goes away.

So, is `scikit-image` a requirement for databroker now?

[2020-08-13 02:52] mrakitin commented on #588
Feels it is a dependency of pims, not directly of databroker. In a fresh conda environment, does it install scikit-image along with pims? Did you use pip to install databroker? What happens when you install from the nsls2forge conda channel?

[2020-08-13 04:36] prjemian commented on #588
Agree that it looks like an optional dependency of pims, advising the action it is taking since scikit-image was not found.  This message comes up with an install today of databroker and other components using conda.  I'm developing a new [`environment.yml`](https://github.com/BCDA-APS/use_bluesky/blob/master/python_installation/environment_2020_9.yml) for the next APS operations cycle.  The messa

[2020-08-14 18:44] danielballan commented on #588
Yeah. I wish pims wasn't so shout-y about this. I wasn't watching closely when that got merged into pims. Maybe we can get pims to defer that warning until a relevant class is actually used.

Once we really trust that `databroker.v1` is solid and strip `databroker.v0` out of the codebase, we can drop the pims dependency (and many others) in databroker, and this issue will go away.

[2020-08-24 15:19] gwbischof opened #589 "catalog search path seems to not list all search paths"
![image](https://user-images.githubusercontent.com/11858848/91063197-ac63e000-e5fb-11ea-98d3-8724a10b672c.png)

[2020-08-25 10:48] danielballan commented on #589
Yeah, I have bumped into this too. This currently shows at the search paths for v2-, intake-style config files. It does not show the search paths for v0-style config files. Needs thought about the consequences of returning a union of the two, mixing these different types.

[2020-08-27 21:42] gwbischof opened #591 "Old resource documents"
Some old resource documents don't have a uid, instead they use '_id'.

The old version of databroker was able to find resources if the resource didn't have a uid key:
https://github.com/bluesky/databroker/blob/master/databroker/assets/mongo_core.py#L48

For backward compatibility I think we should do the same for the mongo_normalized and embedded drivers.

With databroker.v1 the resource document

[2020-09-01 20:55] ronpandolfi opened #594 "Upserting an xarray wipes out its .indexes, but not its .coords; leads to unexpected behavior when slicing"
When upserting composed events containing xarray data with coords set, the coords propagate through to the catalog and `.to_dask()`, however the `.indexes` gets wiped out and replaced with the 'time' indices. This leads to weird behavior when trying to slice. The `.coords` is still populated, so I expected to be able to slice with `.sel(**slc, method='nearest')`, but this fails with:
[code]

[2020-09-01 21:28] danielballan commented on #594
Would it difficult to share an SSCCE?

[2020-09-01 21:33] ronpandolfi commented on #594
Will share one soon. Also, it should be interesting that I can restore the indexes (supplementing the time indexes) with:
[code]

[2020-09-02 20:03] ronpandolfi commented on #594
How does this look?
[code]

[2020-09-02 21:03] st3107 opened #595 "Error when using run.primary.read()"
I found that there was always an error when using "run.primary.read()" for the run in `xpd` database on workstation xf28id2.

If I run the following code.

[code]

The databroker version is

[code]

[2020-09-02 22:25] danielballan commented on #595
Thanks for the clear report @st3107. Just chiming in quickly to say the issue is understood—will reply in detail later this evening.

[2020-09-03 00:56] danielballan commented on #595
The metadata about the `shape` of this array is being recorded incorrectly. The old databroker API:

[code]

does not actually refer to the `shape` and any point and thus does not notice or care if it is wrong. The new, experimental API that you have used about _does_ refer to the shape. It uses that information to leverage dask and xarray, both of which improve the user experience (or so we have

[2020-09-03 01:05] st3107 commented on #595
Got it. Thank you.

PS: I did some further tests. I export the data to msgpack and synchronized to my local computer and ran databroker on the msgpacks. The v2 interface worked well.

[2020-09-03 01:05] #595 closed, assigned to nobody

[2020-09-03 02:14] danielballan commented on #595
Excellent, that's good to hear.

[2020-09-03 04:00] danielballan commented on #594
Oh, the problem is that this code tries to put an `xarray.DataArray` into an Event document. That is not supported. The reason that it even _partly_ works in this example (`data.coords` survives) is that this is all in memory. In general, the contents of `event["data"]` need to be unstructured and made of built-in types* so that MongoDB, JSON, or msgpack can serialize it.

*We extend the serialize

[2020-09-03 14:11] danielballan opened #597 "Intake master moved some imports and broke us"
https://github.com/intake/intake/pull/526, which is not yet released, made some intentionally backward-incompatible changes. We'll need to address that one way or another. In the mean time, our CI build against intake `master` will be broken.

[2020-09-03 14:11] #591 closed, assigned to nobody

[2020-09-03 19:37] danielballan opened #598 "Write unit tests for documents with broken 'shape' metadata"
Follow-up on #581 and #596